@charset "utf-8";

/*
 * @ 共用样式 ----------------------------------------------------------------------->>>
 */

html {
	font-size: 56.25%;
	/*10 ÷ 16 × 100% = 62.5%*/
	height: 100%;
}

@media screen and (min-width: 330px) {
	/*当屏幕尺寸大于320px时，应用下面的CSS样式*/
	html {
		font-size: 62.5%;
	}
}

body {
	color: #454545;
	font: 1.2rem/1.5 "微软雅黑";
	background: #dddddd;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 500
}

address,
cite,
dfn,
em,
var {
	font-style: normal
}

fieldset,
img {
	border: 0
}

iframe,
img {
	border: 0;
	line-height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

button,
input,
select,
textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input[type=submit],
input[type=reset],
input[type=button],
button {
	-webkit-appearance: none
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: 0;
	margin: 0;
	padding: 0
}

ul,
ol {
	list-style: none
}

input[type="text"],
input[type="search"] {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: #fff;
	outline: 0;
}

.inputBg {
	height: 3.8rem;
	width: 94%;
	border: solid 1px #ddd;
	padding: 0 3%;
	color: #333;
	font-size: 1.4rem;
	-webkit-border-radius: 0;
	background: #fff;
	border-radius: .4rem;
}

.inputBg2 {
	width: 94%;
	border: solid 1px #ddd;
	padding: 2%;
	color: #333;
	font-size: 1.2rem;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	background: #fff;
}

a {
	color: #636363;
	text-decoration: none;
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.fn-clear {
	zoom: 1;
	/* for IE6 IE7 */
}

.fn-left {
	float: left
}

.fn-right {
	float: right
}

.max100 {
	max-width: 100%;
}

.flexBox {
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
	/* NEW - Chrome */
	display: flex;
	/* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex1 {
	-webkit-box-flex: 1;
	/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;
	/* OLD - Firefox 19- */
	-webkit-flex: 1;
	/* Chrome */
	-ms-flex: 1;
	/* IE 10 */
	flex: 1;
}


/*********************common**********************/


/*in_ban*/

.in_ban {
	position: relative;
	z-index: 2;
}

.in_ban h2 {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 80px;
	left: 0;
	top: 0;
}

.in_ban h2 span {
	float: right;
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0 14px;
	margin: 20px 10px 20px 0;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 1px;
}

.in_ban h2 span.in_user_register {
	opacity: 0.8;
}

.in_ban h2 span.in_user_login {
	opacity: 0.4;
}


/*in_title*/

.in_title {
	padding: 10px 0;
	text-align: center;
}

.in_title h2 {
	font-size: 20px;
	font-weight: bolder;
	height: 30px;
	line-height: 30px;
}

.in_title h2 img {
	height: 14px;
	vertical-align: text-bottom;
	margin-bottom: 4px;
}

.in_title h2 b {
	margin: 0 6px;
}

.in_title h3 {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 22px;
	margin-top: 6px;
	opacity: 0.6;
}


/*in_about*/

.in_about {
	padding: 0px 14px 14px 14px;
}

.in_about_cont {
	border: 5px solid #e54949;
	padding: 14px 8px;
	margin-bottom: 14px;
}

.in_about_cont img {
	width: 42%;
}

.in_about_cont img.fn-left {
	margin-right: 10px;
}

.in_about_cont img.fn-right {
	margin-left: 10px;
}
.in_about_cont h3{454545
	color: #333333;
	font-size: 14px;
	
}
.in_about_cont p{
	opacity: 0.8;
	margin-top: 6px;
}


/**/


/*列表切换*/

.swiper-slide {
	height: auto;
}

.maple-tab {
	background-color: #dd4d4d;
	width: 100%;
}

.maple-tab ul {
	width: 100%;
	overflow: hidden;
}

.maple-tab ul li {
	float: left;
	width: 50%;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	line-height: 40px;
	height: 40px;
}

.maple-tab ul li img {
	height: 22px;
	margin-right: 6px;
	vertical-align: text-top;
}


/*tab活动状态样式*/

.maple-tab ul li.on {
	background: #131a2c;
}

.tab-content-1 {
	width: 100%;
	background: #131a2c;
	padding: 11px 0;
}

.tab-content-2 {
	padding: 0;
}

.tab-content {
	margin: 20px 14px;
}

.tab-content-1 {
	color: #FFFFFF;
}

.tab-content-1 p {
	font-size: 14px;
	line-height: 1.6;
	margin: 20px 0;
}

.tab-content-1 b,
.tab-content-1 span {
	background: #dd4d4d;
	padding: 2px 6px;
	font-size: 15px;
	border-radius: 2px;
}

.tab-content-1 h3 {
	text-align: center;
	margin-bottom: 20px;
}

.tab-content-2 p {
	margin: 4px 0 !important;
}

.tab-content-2 b {
	display: inline-block;
	margin: 6px 0;
}
.tab-content b span{
	font-size: 12px;
	color: #ffffff;
}

/*in_go*/

.in_go {
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #dd4d4d;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	margin: 14px;
	border-radius: 2px;
}

.in_go img {
	width: 18px;
	margin-left: 6px;
}


/*in_ranking*/

.in_ranking {
	padding: 14px;
}

.in_ranking a {
	display: block;
	width: 48%;
	float: left;
	margin-right: 4%;
	position: relative;
	z-index: 3;
	margin-bottom: 10px;
}

.in_ranking a:nth-child(2n) {
	margin-right: 0;
}
.in_ranking a img{
	width: 100%;
	height: 140px;
}
.in_ranking a span {
	display: inline-block;
	padding: 4px 10px;
	color: #FFFFFF;
	background: #dd4d4d;
	border-radius: 0 0 5px 0;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
}

.in_ranking a div {
	background: #dd4d4d;
	height: 50px;
}

.in_ranking a div h4 {
	width: 70%;
	background: #FFFFFF;
	float: left;
	height: 50px;
	text-indent: 14px;
}

.in_ranking a div h4 i {
	font-style: initial;
	display: block;
	line-height: 20px;
	font-size: 16px;
	padding-top: 6px;
}

.in_ranking a div h4 p {
	line-height: 18px;
	font-size: 14px;
	opacity: 0.7;
}

.in_ranking a div h5 {
	line-height: 50px;
	width: 30%;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
}


/*in_golook*/

.in_golook {
	display: block;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: #dd4d4d;
	font-size: 14px;
	color: #FFFFFF;
	margin: 14px;
	border-radius: 2px;
}


/*in_seach*/

.in_seach {
	height: 42px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 14px;
	border-radius: 2px;
}

.in_seach form {
	width: 100%;
}

.in_seach input {
	display: inline-block;
	width: 80%;
	height: 42px;
	line-height: 42px;
	text-indent: 10px;
	border: 0;
	font-family: "微软雅黑";
}

.in_seach input.user_seach_btn {
	height: 42px;
	line-height: 42px;
	border: 0;
	width: 20%;
	float: right;
	text-indent: 20px;
	font-size: 14px;
	color: #FFFFFF;
	background: url(../images/icon4.png) no-repeat 10px center #dd4d4d;
	background-size:auto 18px;
}
/*in_view*/

.in_view {
	background: #131a2c;
	padding: 14px 0 24px 0;
}

.in_view .in_title {
	color: #FFFFFF;
}

.in_view_cont {
	background: #dd4d4d;
	padding: 20px 14px;
	height: 240px;
}


.in_view_tab {
	width: 100%;
	position: relative;
	z-index: 4;
}
.in_view_tab .hd{
	width: 100%;
    height: 20px;
    position: absolute;
    z-index: 4;
   	top: calc(50% - 11px);
}
.in_view_tab .bd,.in_view_tab .bd ul{
	height: 240px;
}
.in_view_tab ul li,.in_view_tab ul {
	height: 240px;
}
.in_view_tab ul li video{
	object-fit:fill;
	width: calc(100% - 50px);
	margin-left: 25px;
}
.in_view_tab ul li:last-child {
	margin-bottom: 0;
}

.in_view_tab a {
	display: block;
	position: absolute;
	z-index: 3;
	width: 22px;
	height: 22px;
}

.in_view_tab a.prev {
	background: url(../images/top.png) no-repeat center center;
	background-size: auto 22px;
	left: 0px;
}

.in_view_tab a.next {
	background: url(../images/botm.png) no-repeat center center;
	background-size: auto 22px;
	right: 0px;
}

/*footer*/

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 22;
	width: 100%;
	height: 62px;
	background: #dd4d4d;
	color: #FFFFFF;
}

.footer a {
	display: block;
	height: 50px;
	text-align: center;
	float: left;
	width: 32%;
	margin-right: 2%;
	color: #FFFFFF;
	padding: 6px 0;
}
.footer a.on{
	background: #131a2c;
}
.footer a:last-child {
	margin-right: 0;
}

.footer a img {
	height: 30px;
}

.footer a p {
	margin-top: 4px;
}


/********************登录注册**********************/

.bodyCover {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: none;
	z-index: 3;
}

.window_box {
	position: fixed;
	z-index: 13;
	top: 15%;
	left: 10%;
	width: 80%;
	background-color: #FFFFFF;
	border-radius: 10px;
}
.window_box h2{
	background: #f0f0f0;
	border-radius: 10px 10px 0 0;
	padding: 14px 0;
	text-align: center;
	position: relative;
	z-index: 16;
}
.window_box img.logo{
	width: 60%;
}
.window_box img.close{
	width: 30px;
	height: 30px;
	position: absolute;
	z-index: 16;
	top: 0;
	right: 0;
}
.reg_cont{
	background: #FFFFFF;
	padding-bottom: 20px;
	border-radius:0 0 10px 10px ;
	margin-top: 14px;
}
.reg_cont h3{
	height: 40px;
	margin:0 14px;
	border-bottom: 1px solid #dbdbdb;
}
.reg_cont h3 input{
	height: 40px;
	line-height: 40px;
	border: 0;
	text-indent: 26px;
	font-family: "微软雅黑";
	font-size: 13px;
}
.reg_tel,.reg_tel1{
	width: 60%;
	float: left;
}
.reg_tel,.reg_tel1{
	background: url(../images/tel.png) no-repeat center left;
	background-size:20px 20px;
}
.send_code{
	border: 0;
	width: 40%;
	float: left;
	background: #dd4d4d;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size:15px;
	text-indent: 0 !important;
}
.send_code1{
	border: 0;
	width: 40%;
	background: #dd4d4d;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size:15px;
	text-indent: 0 !important;
}
.send_code.on,.send_code1.on{
	background-color:#afafaf;
	font-size:12px;
}
.reg_code,.reg_code1{
	width: 100%;
	background: url(../images/icon7.png) no-repeat center left;
	background-size:20px 20px;
}
.login_name{
	width: 100%;
	background: url(../images/icon9.png) no-repeat center left;
	background-size:20px 20px;
}
.reg_psd,.login_psd,.reg_psd1{
	width: 100%;
	background: url(../images/icon8.png) no-repeat center left;
	background-size:20px 20px;
}
.reg_btn,.login_btn,.reg_btn1{
	display: block;
	border: 0;
	width: 80%;
	margin: 14px 10% 10px 10%;
	background: #dd4d4d;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size:15px;
}
.reg_cont h4{
	text-align: center;
	color: #666666;
	font-size: 15px;
}


/*************************个人中心*****************************/
/*title*/
.title{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px;
	color: #dd4d4d;
}
.title h2{
	border-left: 3px solid #dd4d4d;
	margin:6px 0px 6px 14px;
	padding-left:6px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
}
.title span{
	font-size: 14px;
	font-weight: normal;
	color: #e6e6e6;
	text-transform: uppercase;
	margin-left: 6px;
}
.title span.red{
	color: #dd4d4d;
}
/*user_info*/
.user_info{
	background: #FFFFFF;
	padding: 14px 0;
}
.user_info h3{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e6e6e6;
	padding:0 14px;
	font-size: 13px;
	color: #b4b4b4;
}
.user_info h3 span,.user_info h4 span{
	display: block;
	float: left;
	width: 90px;
	font-size: 15px;
	color: #454545;
}
.user_info h4{
	padding:14px;
	height: 60px;
}
.user_info h4 span{
	height: 60px;
}
.user_info h4 textarea{
	height: 60px;
	border: 0;
	overflow:hidden;
	resize:none;
	font-size: 13px;
	color: #b4b4b4;
	text-indent: 10px;
	line-height: 20px;
	width: calc(100% - 90px);
	font-family: "微软雅黑";
}
.user_info h4.b_b{
	border-bottom: 1px solid #e6e6e6;
}
.user_info h4 i{
	font-style: normal;
	color: #b4b4b4;
	line-height: 20px;
}
.user_info h5{
	color: #c5c0c0;
	padding-right: 14px;
	font-size: 14px;
	border-bottom: 1px solid #e6e6e6;
}
.user_info h5 span,.user_info h5 img{
	float: right;
}
.user_info h5 img{
	width: 22px;
	vertical-align: text-bottom;
	margin-left: 6px;
}
/*user_img*/
.user_img{
	padding:14px;
}
.user_img img{
	max-width: 100%;
}
.user_img video{
	height: 240px;
	object-fit:fill;
}
.user_cont{
	padding-bottom: 20px;
}

.user_cont a{
	display: block;
    width: calc(100% -28px) ;
    margin: 14px;
    background: #b4b4b4;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    border-radius: 4px;
}
.user_cont a.a_red{
	background: #dd4d4d;
}


/*********************人气排名**********************/
.area_select{
	height: 50px;
	line-height: 50px;
	position: relative;
	z-index: 8;
}
.area_select_t{
	display: block;
	width: 30%;
	background: #dd4d4d;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
}
.user_area{
	text-indent: 10px;
	padding-right: 14px;
	width:calc(70% - 14px);
	height: 50px;
	line-height: 50px;
	font-family: "微软雅黑";
	border: 0;
	background: url(../images/user/icon10.png) no-repeat #FFFFFF;
	background-size:20px auto ;
	background-position:calc(100% - 14px) center;
}
.area_cont{
	position: absolute;
	z-index: 5;
	width: 100%;
	left: 0;
	top: 50px;
	background: #FFFFFF;
	border-top: 1px solid #e6e6e6;
	overflow-y:scroll; 
}
.area_cont h3{
	position: relative;
	z-index: 5;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #e6e6e6;
	padding:0 14px;
	color: #666666;
	overflow: hidden;
}
.area_cont h3 i{
	display: block;
	position: absolute;
	z-index: 5;
	top: 10px;
	right: 14px;
	width: 20px;
	height: 20px;
	background: url(../images/user/icon11.png) no-repeat center center;
	background-size:20px 20px;
}
.area_cont h3.on{
	background: #fff1f1;
}
.area_cont h3.on i{
	background: url(../images/user/icon12.png) no-repeat center center;
	background-size:20px 20px;
}
.area_cont a{
	display: block;
    width: calc(100% -28px);
    margin: 14px;
    background: #dd4d4d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    border-radius: 4px;
}
.subbox{
	width: calc(100% - 28px);
	margin: 14px
}
.in_back{
	display: block;
    width: 100%;
    background: #dd4d4d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    border-radius: 4px;
    border:0;
}
.a_gray{
	background: #b4b4b4;
	width: calc(100% - 28px);
	margin: 14px
}

/***************************tab_cont报名表***************************/
.tab_cont{
	background: #FFFFFF;
	padding: 14px 0;
}
.tab_info h6{
	height: 14px;
	background: #f2f2f2;
}
.tab_cont .title{
	border-bottom: 0;
}

.tab_cont h3.area_select input.user_area{
	height: 40px;
	line-height: 40px;
	text-indent: 0px;
	padding-right: 0;
	background-position: right center; 
	
}
.tab_cont h3.area_select div.area_cont{
	top: 40px;
}
.tab_cont h3.area_select div.area_cont span{
	width: auto;
}

.tab_info h2{
	height: 42px;
	line-height: 42px;
	color: #dd4d4d;
	font-size: 16px;
	padding:0 14px;
}
.tab_info h3 {
	background: #FFFFFF;
}
.tab_info h3 input{
	height: 40px;
	line-height: 40px;
    border: 0;
    font-size: 13px;
    color: #b4b4b4;
    width: calc(100% - 90px);
    font-family: "微软雅黑";
}
.tab_sex_cont input{
	/*display: none;*/
	height: 15px !important;
	float: left;
	width: 15px !important;
	margin: 13px 0;
}
.tab_sex_cont i{
	font-style: normal;
	margin: 0 20px 0 8px ;
	float: left;
}
.tab_sex_cont label{
	float: left;
	width: 60px;
	height: 28px;
	line-height: 28px;
	border-radius: 2px;
	border: 1px solid #dd4d4d;
	color: #dd4d4d;
	margin: 6px 14px 6px 0;
	text-align: center;
	box-sizing: border-box;
}
.tab_sex_cont label.on{
	background: #dd4d4d;
	color: #FFFFFF;
}
.IDcardimg{
	color: #dd4d4d;
	text-decoration:underline  ;
}
.IDcardimgCont{
	position: fixed;
	width: 80%;
	top: 30%;
	left: 10%;
	display: none;
	z-index: 10;
}
.border_on{
	border-bottom:1px solid transparent !important;
}
.co45{
	color: #454545 !important;
}
.tab_info div.fn-clear{
	margin:0 14px;
}
.IDcard{
	border: 1px dashed #cccccc;
	border-radius: 10px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}
.IDcard .input-group{
	width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
}
.IDcard .input-group a{
	display: block;
	width: 100%;
	height: 100%;
}
.webuploader-pick{
	display: none !important;
}
.webuploader-container div{
	position: absolute;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}
.IDcard img{
	width: 100%;
	border-radius: 10px;
}
.IDcard3,.IDcard4{
	margin: 0 14px;
}
.IDcard4 p{
	font-size: 14px;
	color: #999999;
}
.IDcard4 p span{
	color: #DD4D4D;
}
.tab_check{
	padding: 14px;
	color: #666666;
}
.tab_check label{
	background: url(../images/user/uncheck.jpg);
	background-size:16px auto ;
	background-position: center left;
	background-repeat:no-repeat ;
	padding-left: 20px;
	cursor: pointer;
}
.tab_check label input{
	display: none;
}
.tab_check a{
	text-decoration: underline;
}
.IDcard .btn{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.IDcard .btn form{
	display: block;
	width: 100%;
	height: 100%;
}
.IDcard .btn form input{
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.progress{
	text-align: text;
	position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 15px);
    width: 30px;
    height: 20px;
    line-height: 20px;
}
#showimg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	border-radius: 10px;
}
#showimg video{
	position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    object-fit: fill;
    height: 100%;
    border-radius: 10px;
}

/****************************protocol****************************/
.bg_fff{
	background: #FFFFFF;
}

.protocol_cont{
	position: fixed;
    left: 15%;
    top: 20%;
    background: #FFFFFF;
    z-index: 14;
    width: 70%;
    padding: 14px;
    height: 51%;
}
.protocol_box{
	overflow: scroll;
	height: calc(100% - 28px);
}
.protocol_cont img{
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
    height: 30px;
}
.protocol_cont h2{
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
}
.protocol_cont p{
	color: #888888;
	font-size: 13px;
	line-height: 1.6;
	margin: 10px 0;
}
.protocol_cont h3{
	font-size: 14px;
	line-height: 1.6;
	font-weight: bold;
	margin: 10px auto;
}
.protocol_cont a{
	margin-bottom: 100px;
}


/*share*/
.jiathis_style{
	position: relative;
	z-index: 6;
	height: 40px;
	line-height: 40px;
	width: 100%;
	margin: 0 auto;
}

.jiathis_style .sharecont{
	position: absolute;
	z-index: 4;
	display: none;
	top: 40px;

}
.jiathis_style span.jiathis_style_title{
	display: block;
    background: #dd4d4d;
    height: 40px;
    line-height: 40px !important;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    border-radius: 4px;
    width: calc(100% - 28px);
    margin-left: 14px;
}
.jiathis_style span.jiathis_style_title1{
	display: block;
    background: #b4b4b4;
    height: 40px;
    line-height: 40px !important;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    border-radius: 4px;
    width: calc(100% - 28px);
    margin-left: 14px;
}
.jiathis_style .sharecont{
	background:rgba(0,0,0,0.8);
	width: 100%;
	display: flex;
	width: calc(100% - 28px);
	padding:8px 14px;
}
.jiathis_style .sharecont a{
	background: none !important;
	display: inline-block !important;
	margin:2px 0px !important;
	flex:1;
}
.jiathis_style .sharecont a span{
	margin:10px 0 !important;
}
#J_copy_clipboard_data{
	border:0;
	background: url(../images/user/copy.png) no-repeat left center ;
	background-size:auto 18px;
	color: #ffffff;
	font-size: 13px;
	font-family: "微软雅黑";
	vertical-align: text-top;
	height: 18px;
	display:inline-block;
	text-indent: 20px;
	margin-top: 11px !important;
	flex:1;
	text-align: left;
}
.sharewx{
	text-align: left;
    overflow: hidden;
    height: 16px!important;
    line-height: 16px!important;
    padding-left: 20px!important;
    background: url(http://v3.jiathis.com/code/images/jiathis_ico.png) no-repeat left;
    cursor: pointer;
    background-position: 0px -1809px;
    color: #fff;
    float: left;
    display: inline-block;
    color: #fff;
    float: left;
    margin: 12px !important;
}
.shareqq{
	text-align: left;
    overflow: hidden;
    height: 16px!important;
    line-height: 16px!important;
    padding-left: 20px!important;
    background: url(http://v3.jiathis.com/code/images/jiathis_ico.png) no-repeat left;
    cursor: pointer;
    background-position: 0px -64px;
    color: #fff;
    float: left;
    display: inline-block;
    color: #fff;
    float: left;
    margin: 12px !important;
}
.shareQQ{
	border:0;
	background: url(../images/user/qq.png) no-repeat left center ;
	background-size:auto 18px;
	color: #ffffff;
	font-size: 13px;
	font-family: "微软雅黑";
	vertical-align: text-top;
	height: 40px;
	display:inline-block;
	text-indent: 20px;
	flex:1;
	text-align: left;
}
.sharelink{
	border: 0;
    background: url(../images/user/copy.png) no-repeat left center;
    background-size: auto 18px;
    color: #ffffff;
    font-size: 13px;
    font-family: "微软雅黑";
    vertical-align: text-top;
    height: 40px;
    display: inline-block;
    text-indent: 20px;
    flex: 1;
    text-align: left;
}
.jtico_jiathis{
	padding: 4px 0;
}
.sharewximg,.sharelinkimg,.shareqqimg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
}

/*投票成功*/
.succeedimg{
	display: block;
	width: 26%;
	margin: 0 auto;
}
.succeedtxt{
	text-align: center;
    color: #666666;
    font-size: 16px;
    line-height: 24px;
}
.succeedtxt span{
	color: #b4b4b4;
	font-style: 13px;
}
.succeeda{
	display: block;
    border: 0;
    width: 80%;
    margin: 14px 10% 10px 10%;
    background: #dd4d4d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
}
.failure{
	background: #b4b4b4;
}
.tabsudlink{
	width: 80%;
	margin: 0 auto;
}
.tabsudlink a{
	display: block;
	width: 45%;
	height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
    background: #dd4d4d;
    margin: 14px 0;
    float: left;
}
.tabsudlink a.gouser{
	background: #b4b4b4;
	margin-left: 10%;
}

/*上传图片*/
.IDcard3 img{
	height: 180px;
}

/****************edit**************/
.edit_cont .user_img{
	position: relative;
    z-index: 5;
}
.edit_cont .user_img{
	position: relative;
    z-index: 5;
}
.edit_img{
	position: absolute;
	z-index: 6;
	width: 60px;
	height: 60px;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	pointer-events:none;
}
.edit_cont .user_img .input-group{
	position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.edit_cont .user_img .input-group a{
    width: 100%;
    height: 100%;
    margin: 0;
    background: none !important; 
}
.help-block img{
	height: 180px;
	width: 100% !important;
}
.edit_btn{
	width: calc(100% - 28px);
    margin: 14px;
}
.tabsucd a.goshow{
	width: 100%;
}

#J_share_text{
	display:none;
}


/*分享页面样式修改*/
.share_p{
	padding-bottom: 0;
	height: 240px;
	position: relative;
	z-index: 8;
}
.share_p a{
	display: block;
	width: 100%;
	height: 100%;
	padding:0;
	margin: 0;
}
.share_p a img{
	width: 100%;
	height: 240px;
}
.share_p img.img_play{
	position: absolute;
	z-index: 8;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	width: 50px;
	height:50px;
}
.share_btn{
	height: 40px;
	line-height: 40px;
	background: #b4b4b4;
	text-align: center;
	margin: 0px 14px 8px 14px;
	position: relative;
	z-index: 7;
}
.share_btn b{
	display: block;
	width: 50%;
	float: left;
	font-size: 15px !important;
	color: #FFFFFF;
	font-weight: normal;
}
.share_btn div#votec{
	width: 50%;
	float: left;
	font-size: 15px !important;
	color: #FFFFFF;
	position: absolute;
	z-index: 7;
}
#vote{
	width: 100%;
	margin: 0;
}
.share_btn b.jiathis_style_title{
	line-height: 40px !important;
}
.share_btn b.a_red{
	background: #DD4D4D;
}
.share_btn div.jiathis_style b{
	position: absolute;
	z-index: 6;
	right: 0;
}
.share_btn b.jiathis_style_title{
	line-height: 40px !important;
}
.share_btn b.a_red{
	background: #DD4D4D;
}
.w_a{
	width: calc(100% - 28px);
	margin: 0 14px;
}

/*ios position:fixed*/
.main{
	position:fixed;
	top:0px;
	bottom:62px;
	overflow:scroll;
	width: 100%;
}

/*user_reward入选权益*/
.user_reward{
	background: #dd4d4d;
	color: #FFFFFF;
}
.user_reward_cont{
	padding:0 14px 14px;
}
.user_reward_cont p{
	font-size: 14px;
	opacity: 0.8;
}
.user_reward_cont b{
	display: inline-block;
	background: #FFFFFF;
    padding: 2px 6px;
    font-size: 15px;
    border-radius: 2px;
    color: #DD4D4D;
    margin: 10px 0;
}
.user_reward_cont h6{
	font-size: 14px;
	opacity: 0.6;
}
.user_reward_cont a.in_go{
	background: #FFFFFF;
	color: #DD4D4D;
}

/*user_video*/
.tab_info h6.user_video{
	height: 40px;
	line-height: 40px;
	margin: 14px 0;
	background: none;
}
.user_video span{
	display: block;
    width: 80px;
    background: #dd4d4d;
    text-align: center;
    color: #FFFFFF;
    float: left;
    height: 40px;
	line-height: 40px;
}
.user_video input{
	text-indent: 10px;
    width: calc(100% - 80px);
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}   

/***********tabbox*************/  
.tabbox .reg_cont{
	padding: 0 14px;
}
.tabbox .reg_cont h2{
	font-size: 18px;
	font-weight: bold;
	color: #DD4D4D;
	background: #FFFFFF;
	margin: 0 14px;
}
.tabbox h4{
	height: 31px;
	background: url(../images/tabbox.jpg) center center;
}
.tabbox h4 i{
	font-size: 15px;
	color: #c5c5c5;
	font-style: normal;
	display: block;
	width: 84px;
	text-align: center;
	line-height: 31px;
	height: 31px;
	background: #FFFFFF;
	margin: 0 auto;
}
.tabbox a{
	display: block;
    border: 0;
    width: 100%;
    background: #dd4d4d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "微软雅黑";
    font-size: 15px;
}
.tabbox a.in_user_register{
	margin-bottom: 14px;
	background: #b4b4b4;
}