		{loop $l1l1l11lll11l11lll1111ll11l1l11 $l11l1l1llll1l1l1l1111l111llllll}
			<div class="grid-item">
				<div class="pic-box box-bg-color">
					<i class="box-bg-color">{$l11l1l1llll1l1l1l1111l111llllll['uid']}号</i>
					<a class="pic-a" href="{php echo $this->llll1111lllll1llll111l1l1ll1ll1('show','xiaof_toupiao','&id='.$l11l1l1llll1l1l1l1111l111llllll['id'].'');}">
						{if $ll111lllll1l1ll1111l11l1lll11ll['opensound'] >= 1 && !empty($l11l1l1llll1l1l1l1111l111llllll['sound'])}
						<div class="show-sound index-show-sound" data-src="{$l11l1l1llll1l1l1l1111l111llllll['sound']}">
							<img class="sound-on" src="{MODULE_URL}template/mobile/xiaofweui/picture/ms.png"/>
							<img class="sound-off" src="{MODULE_URL}template/mobile/xiaofweui/picture/mp.png"/>
						</div>
						{/if}			
						<img class="item-thumb" src="{php echo tomedia($l11l1l1llll1l1l1l1111l111llllll['pic']);}" alt=""/>
						{if !empty($l11l1l1llll1l1l1l1111l111llllll['describe'])}
						<div class="pic-describe">
						{$l11l1l1llll1l1l1l1111l111llllll['describe']}
						</div>
						{/if}						
					</a>
					<div class="pic-info">
						<span class="ballot">{$l11l1l1llll1l1l1l1111l111llllll['name']}&nbsp;&nbsp;<span class="goods">{$l11l1l1llll1l1l1l1111l111llllll['good']}</span>票</span>
						<div class="vote button-bg-color" data-id="{$l11l1l1llll1l1l1l1111l111llllll['id']}">投票</div>
					</div>
				</div>
			</div>
		{/loop}