<div class="footer-article wrapper">
	<div class="footer-article-title" >
		<h3>
		活动简介
		</h3>
	</div>
    <div class="footer-article-content">
		{php echo htmlspecialchars_decode($ll111lllll1l1ll1111l11l1lll11ll['bottom']);}
    </div>
	{if !empty($ll111lllll1l1ll1111l11l1lll11ll['copyright'])}
	<div style="text-align:center;font-family: Microsoft YaHei;font-size: 12px;">
		{$ll111lllll1l1ll1111l11l1lll11ll['copyright']}
	</div>
	{/if}	
</div>

<?php  $lllll11l1ll1ll1l1111ll11ll11ll1 = $this->l1l1l111ll1llll1l11ll11ll1l11l1(); $ll1111l11lll1111lll11l1l1ll111l = array_slice($lllll11l1ll1ll1l1111ll11ll11ll1, 0, 2); $l1l111ll111ll1llll1l1l111ll1l11 = array_slice($lllll11l1ll1ll1l1111ll11ll11ll1, 2, 2); ?>
<ul class="xiaof-tabbar bottom-tabbar">
	{loop $ll1111l11lll1111lll11l1l1ll111l $l111ll1111l11lll1lll1l11l1l1ll1}
		<li class="xiaof-tabbar-item {if $l111ll1111l11lll1lll1l11l1l1ll1['do'] == $_GET['do']}cur{/if}"><a href="{$l111ll1111l11lll1lll1l11l1l1ll1['url']}"><span class="icon"><i class="{$l111ll1111l11lll1lll1l11l1l1ll1['icon']}"></i></span><span>{$l111ll1111l11lll1lll1l11l1l1ll1['name']}</span></a></li>
	{/loop}
	<li class="search xiaof-tabbar-item">
		<span class="icon"><i class="fa fa-search-plus"></i></span><span>搜索</span>
	</li>
	{loop $l1l111ll111ll1llll1l1l111ll1l11 $lll1l1lll1l11l111l1ll11l11ll1l1}
		<li class="xiaof-tabbar-item {if $lll1l1lll1l11l111l1ll11l11ll1l1['do'] == $_GET['do']}cur{/if}"><a href="{$lll1l1lll1l11l111l1ll11l11ll1l1['url']}"><span class="icon"><i class="{$lll1l1lll1l11l111l1ll11l11ll1l1['icon']}"></i></span><span>{$lll1l1lll1l11l111l1ll11l11ll1l1['name']}</span></a></li>
	{/loop}		
</ul>
<script type="text/javascript">
	require(['jquery', 'xiaof'], function($){
		var searchHtml = ['<form class="search-form clearfix" method="post" action="{php echo $_W['siteroot'].'app/index.php?c=entry&do=index&m=xiaof_toupiao&i='.$_W['uniacid'].'&sid='.$_GPC['sid'].'';}">',
		'        <input class="search-input" name="key" placeholder="输入编号或姓名" type="text"/>',
		'    </form>	'].join("");	
		$(".search").click(function(){	
			$.xiaof.confirm('搜索选手', searchHtml, function(status, obj){
				if(status == 'success'){
					$(".search-form").submit();
				}
			});
		});
	});
	{if $ll111lllll1l1ll1111l11l1lll11ll['showtimeline'] == 1}
    wx.ready(function(){
		wx.hideMenuItems({
			menuList: ["menuItem:share:timeline"]
		});
    });
	{/if}
</script>

<div style="display:none;">
{php echo htmlspecialchars_decode($ll111lllll1l1ll1111l11l1lll11ll['statisticcode']);}
</div>
