{loop $l1l1l11lll11l11lll1111ll11l1l11 $l11l1l1llll1l1l1l1111l111llllll}	
                <a href="{php echo $this->llll1111lllll1llll111l1l1ll1ll1('show','xiaof_toupiao','&id='.$l11l1l1llll1l1l1l1111l111llllll['id'].'');}">
				<img src="{php echo tomedia($l11l1l1llll1l1l1l1111l111llllll['pic']);}" alt="">
				<span>{$l11l1l1llll1l1l1l1111l111llllll['uid']}号</span>
				<div>
					<h4>
						<i>{$l11l1l1llll1l1l1l1111l111llllll['name']}</i>
						<p><b>{$l11l1l1llll1l1l1l1111l111llllll['good']}</b>票</p>
					</h4>
					<h5>投票</h5>
				</div>
	</a>
{/loop}