{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('settinglists');}">活动列表</a></li>
	<li class="active"><a href="#">活动多开</a></li>
    <li><a href="{php echo $this->createWebUrl('settingedit');}">添加新活动</a></li>
</ul>
<div class="main">

    <form action="" class="form-horizontal form ng-pristine ng-valid" method="post" enctype="multipart/form-data">
        <input name="sid" type="hidden" value="{$lllllll1lllll1l1l111l1lll1ll111}"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                绑定多公众号
            </div>

            <div class="panel-body">
				<div id="form-box">
					{loop $ll1ll11llllllllll1lll11ll11l111 $l111llllll11ll111l111l1l111ll11}
					<div class="form-group">
						<div class="col-sm-12 col-xs-12">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									<span class="input-group-addon">公众号</span>
									<select name="bindings[acid][]" class="form-control">
										{loop $ll111ll1l1ll11l1ll1l1l1l1ll11ll $l111ll11111ll1111l1111ll11l1ll1}
											<option {if $l111llllll11ll111l111l1l111ll11['acid'] === $l111ll11111ll1111l1111ll11l1ll1['uniacid']} selected{/if} value="{$l111ll11111ll1111l1111ll11l1ll1['uniacid']}">{$l111ll11111ll1111l1111ll11l1ll1['name']}</option>
										{/loop}
									</select>
								</div>
							</div>							
							<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-right" style="padding-right: 0;width: 85px;">
								<span class="checkbox-inline"  style="margin-left:-30px; float:left;">关注二维码</span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									
									{php echo tpl_form_field_image('bindings[qrcode][]', $l111llllll11ll111l111l1l111ll11['qrcode']);}
								</div>
							</div>	
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 ">
								<div style="margin-left:-15px;margin-bottom:17px">
								<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
								&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
								</div>
							</div>									
						</div>
					</div>	
					{/loop}
				</div>
               
<div class="form-group">
<div class="col-sm-12 col-xs-12">
<div class="well well-sm">
<a href="javascript:;" onclick="addOption();">添加绑定项 <i class="fa fa-plus-circle" title="添加菜单"></i></a>
</div>
<span class="help-block">绑定其他公众号后可以在其他公众号里同时进行投票活动，并数据共享，多号吸粉互不干扰。公众号不能重复绑定，重复绑定系统自动剔除重复公众号</span>
</div>
</div>               
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input name="token" type="hidden" value="{$_W['token']}" />
                <input type="submit" class="btn btn-primary" name="submit" value="提交">
            </div>
        </div>
    </form>
</div>
				<div id="form-option"  style="display:none">
					<div class="form-group">
						<div class="col-sm-12 col-xs-12">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									<span class="input-group-addon">公众号</span>
									<select name="bindings[acid][]" class="form-control">
										{loop $ll111ll1l1ll11l1ll1l1l1l1ll11ll $l111ll11111ll1111l1111ll11l1ll1}
											<option value="{$l111ll11111ll1111l1111ll11l1ll1['uniacid']}">{$l111ll11111ll1111l1111ll11l1ll1['name']}</option>
										{/loop}
									</select>
								</div>
							</div>
														
							<div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 text-right" style="padding-right: 0;width: 85px;">
								<span class="checkbox-inline"  style="margin-left:-30px; float:left;">关注二维码</span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									{php echo tpl_form_field_image('bindings[qrcode][]');}
								</div>
							</div>	
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 ">
								<div style="margin-left:-15px;margin-bottom:17px">
								<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
								&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
								</div>
							</div>						
						</div>
					</div>	
				</div>
<script>

function addOption(){
	var html = $("#form-option").html();
	$("#form-box").append(html);
}
</script>
{template 'common/footer'}
