{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('diagnose');}">诊断工具</a></li>
</ul>

<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">结果(当前工具测试阶段，只做参考)</div>
        <div class="panel-body">
			{$l1l11lll11l111l111l1l111l1111l1}
        </div>
    </div>
</div>

{template 'common/footer'}
