{template 'common/header'}

<ul class="nav nav-tabs">
    <li><a href="{php echo $this->createWebUrl('lists');}">报名列表</a></li>
    <li class="active"><a href="#">查看报名</a></li>
	<li><a href="{php echo $this->createWebUrl('safe');}">数据监控</a></li>
	<li><a href="{php echo $this->createWebUrl('votelog');}">投票日志</a></li>
</ul>
<div class="main">

    <form action="" class="form-horizontal form ng-pristine ng-valid" method="post" enctype="multipart/form-data">
        <input name="id" type="hidden" value="{$l11l1l1llll1l1l1l1111l111llllll['id']}"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                编辑报名
            </div>

            <div class="panel-body">

			    <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">活动期数</label>
                    <div class="col-sm-6">
                        <select name="sid" id="sid" class="form-control" {if !empty($l11l1l1llll1l1l1l1111l111llllll['sid'])}disabled="disabled"{/if}>
                            {loop $lllll1ll11lll11l1lllllllllll111 $l111ll11111ll1111l1111ll11l1ll1}
								<option {if $l11l1l1llll1l1l1l1111l111llllll['sid'] === $l111ll11111ll1111l1111ll11l1ll1['id']} selected{/if} value="{$l111ll11111ll1111l1111ll11l1ll1['id']}">{$l111ll11111ll1111l1111ll11l1ll1['tit']}</option>
							{/loop}
                        </select>
						
					</div>
                </div>	
		
                </div>	

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">姓名</label>
                  <div class="col-sm-6"> {$l11l1l1llll1l1l1l1111l111llllll['name']}</div>	
                </div>	
		  <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">性别</label>
                  <div class="col-sm-6"> {if $l11l1l1llll1l1l1l1111l111llllll['sex']==0}男{else}女{/if}</div>	
                </div>	
             <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">身份证号码</label>
                  <div class="col-sm-6"> {$l11l1l1llll1l1l1l1111l111llllll['card_no']}</div>	
                </div>	
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">手机号</label>
                  <div class="col-sm-6">  {$l11l1l1llll1l1l1l1111l111llllll['phone']} </div>		
                </div>		
		 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">参赛宣言</label>
                  <div class="col-sm-6">  {$l11l1l1llll1l1l1l1111l111llllll['oath']} </div>		
                </div>	
                 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">所在赛区</label>
                  <div class="col-sm-6"> {$area_arr[$l11l1l1llll1l1l1l1111l111llllll['user_area_num']]}</div>		
                </div>	
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">证件信息</label>
                    <div class="col-sm-6">
                      
                        <img src="{php echo $_W[siteroot].'attachment/'.$l11l1l1llll1l1l1l1111l111llllll['img1'];}" onerror="this.src='./resource/images/nopic.jpg'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
                        
                    </div>

                </div>
             
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">照片</label>
                    <div class="col-sm-6">
                    
                        <img src="{php echo $_W[siteroot].'attachment/'.$l11l1l1llll1l1l1l1111l111llllll['img3'];}" onerror="this.src='./resource/images/nopic.jpg'; this.title='图片未找到.'" class="img-responsive img-thumbnail" width="150">
                        
                    </div>

                </div>
                   <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">视频</label>
                    <div class="col-sm-6">
                      <video src="{php echo $l11l1l1llll1l1l1l1111l111llllll['video']}" width='100%' height='auto' controls='controls'></video>
                    </div>

                </div>
             
	 <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">推荐</label>
                    <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['recommend'] === '0'} active{/if}">
                                <input type="radio" name="recommend" id="option1" value="0" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['recommend'] === '0'} checked{/if}>未推荐
                            </label>
                            <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['recommend'] === '1'} active{/if}">
                                <input type="radio" name="recommend" id="option2" value="1"  autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['recommend'] === '1'} checked{/if}>推荐首页
                            </label>
                           
                        </div> 
                    						
                    </div>
                </div>
				
	        <div class="joinfield">
				{loop $ll111lllll1l1ll1111l11l1lll11ll['joinfield'] $l11l1ll11l11ll111l11l1lll11l1l1}
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">{$l11l1ll11l11ll111l11l1lll11l1l1['name']}</label>
                    <div class="col-sm-6"><input type="text" class="form-control" name="{$l11l1ll11l11ll111l11l1lll11l1l1['sign']}" value="{$l11l1l1llll1l1l1l1111l111llllll['data'][$l11l1ll11l11ll111l11l1lll11l1l1['sign']]}" placeholder="{$l11l1ll11l11ll111l11l1lll11l1l1['name']}" /></div>
                </div>				
				{/loop}
				</div>
				
				<script>
					$(function(){
						$("#sid").change(function(){
							$.get("{php echo $this->createWebUrl('loadgroup');}",{'sid': $(this).val()},function(data){
								var result = new Function('return' + data)();
								$("#groups").html(result.groups);
								$(".joinfield").html(result.joinfield);
							})
						});
						{if !isset($l11l1l1llll1l1l1l1111l111llllll['id'])}
						$("#sid").change();
						{/if}
					});
				</script>
				
           
				
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">审核</label>
                    <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '0'} active{/if}">
                                <input type="radio" name="verify" id="option1" value="0" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '0'} checked{/if}>待审核
                            </label>
                            <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '1'} active{/if}">
                                <input type="radio" name="verify" id="option2" value="1"  autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '1'} checked{/if}>通过
                            </label>
                            <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '2'} active{/if}">
                                <input type="radio" name="verify" id="option3" value="2"  autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '2'} checked{/if}>未通过
                            </label>
                        </div> 
                        <span class="help-block">
                            <strong>审核状态未通过时将不能访问。待审核状态不展示，只能自己访问查看</strong>
                        </span>							
                    </div>
                </div>
				<!--
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">绑定openid</label>
                    <div class="col-sm-6">
						<input type="text" class="form-control" name="openid" value="{$l11l1l1llll1l1l1l1111l111llllll['openid']}" placeholder="用户的openid" />
                        <span class="help-block">
                            <strong>一般不需要修改，只为某些情况手动添加用户openid</strong>
                        </span>					
					</div>
                </div>
				-->				
              
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">票数</label>
					<div class="col-sm-1" style="line-height: 32px;">
						当前：{$l11l1l1llll1l1l1l1111l111llllll['good']}
					</div>
					<div class="col-sm-1">
						<select name="goodalgorithm" class="form-control">
							<option value="+">加</option>
							<option value="-">减</option>
                        </select>					
					</div>
                    <div class="col-sm-4"><input type="text" class="form-control" name="goodvalue" placeholder="必须为整数，留空为不做改变"/></div>
                </div>  

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">转发量</label>
					<div class="col-sm-1" style="line-height: 32px;">
						当前：{$l11l1l1llll1l1l1l1111l111llllll['share']}
					</div>
					<div class="col-sm-1">
						<select name="sharealgorithm" class="form-control">
							<option value="+">加</option>
							<option value="-">减</option>
                        </select>					
					</div>
                    <div class="col-sm-4"><input type="text" class="form-control" name="sharevalue" placeholder="必须为整数，留空为不做改变"/></div>
                </div>  

                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">点击量</label>
					<div class="col-sm-1" style="line-height: 32px;">
						当前：{$l11l1l1llll1l1l1l1111l111llllll['click']}
					</div>
					<div class="col-sm-1">
						<select name="clickalgorithm" class="form-control">
							<option value="+">加</option>
							<option value="-">减</option>
                        </select>					
					</div>
                    <div class="col-sm-4"><input type="text" class="form-control" name="clickvalue" placeholder="必须为整数，留空为不做改变"/></div>
                </div>  
               
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input name="token" type="hidden" value="{$_W['token']}" />
                <input type="submit" class="btn btn-primary" name="submit" value="提交">
            </div>
        </div>
    </form>
</div>

{template 'common/footer'}
