{template 'common/header'}

<div class="main">
	<div class="alert alert-info">
	只限制非管理账户功能
	</div>

		<div class="panel panel-default js-test" modulename="openmusic">
			<div class="panel-heading clearfix">
				<div class="pull-right">
					<input class="js-flag" type="checkbox" modulename="openmusic" {if isset($l11l1l1llll1l1l1l1111l111llllll['openmusic']) && $l11l1l1llll1l1l1l1111l111llllll['openmusic'] == 1} checked="checked" {/if}/>
				</div>
				是否允许设置背景音乐
			</div>
			<div class="panel-body clearfix">
				关闭后将不允许非管理账户设置背景音乐
			</div>
		</div>
		<div class="panel panel-default js-test" modulename="openshare">
			<div class="panel-heading clearfix">
				<div class="pull-right">
					<input class="js-flag" type="checkbox" modulename="openshare" {if isset($l11l1l1llll1l1l1l1111l111llllll['openshare']) && $l11l1l1llll1l1l1l1111l111llllll['openshare'] == 1} checked="checked" {/if}/>
				</div>
				是否允许开启分享按钮
			</div>
			<div class="panel-body clearfix">
				关闭后将不允许非管理账户开启分享按钮
			</div>
		</div>
		<div class="panel panel-default js-test" modulename="openfollow">
			<div class="panel-heading clearfix">
				<div class="pull-right">
					<input class="js-flag" type="checkbox" modulename="openfollow" {if isset($l11l1l1llll1l1l1l1111l111llllll['openfollow']) && $l11l1l1llll1l1l1l1111l111llllll['openfollow'] == 1} checked="checked" {/if}/>
				</div>
				是否允许开启强制关注
			</div>
			<div class="panel-body clearfix">
				关闭后将不允许非管理账户开启强制关注
			</div>
		</div>		
</div>
<script type="text/javascript">

require(['bootstrap.switch'],function($){
	$('.js-flag:checkbox').bootstrapSwitch({onText: '启用', offText: '禁用'});
	$('.js-flag:checkbox').on('switchChange.bootstrapSwitch', function(event, state) {
		var name = $(this).attr('modulename');
		var ban = state ? 1 : 0;
		$.get("{php echo $this->createWebUrl('globalsetting');}", {name:name, ban:ban}, function(data) {

		});
	});
});
</script>
{template 'common/footer'}
