{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('lists');}">报名列表</a></li>
	<li><a href="{php echo $this->createWebUrl('safe');}">数据监控</a></li>
	<li><a href="{php echo $this->createWebUrl('votelog');}">投票日志</a></li>
</ul>

<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="xiaof_toupiao">
                <input type="hidden" name="do" value="lists">
				
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">活动期数</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="sid" id="sid" class="form-control">
                            <option {if $_GPC['sid'] == ''} selected{/if} value="">不限</option>
                            {loop $lllll1ll11lll11l1lllllllllll111 $l111ll11111ll1111l1111ll11l1ll1}
								<option {if $_GPC['sid'] === $l111ll11111ll1111l1111ll11l1ll1['id']} selected{/if} value="{$l111ll11111ll1111l1111ll11l1ll1['id']}">{$l111ll11111ll1111l1111ll11l1ll1['tit']}</option>
							{/loop}
                        </select>
                    </div>               
                </div>
				
			    <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" for="">赛区</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="user_area_num" id="user_area_num" class="form-control">
				<option value="">全国</option>
				<option  value="1"  {if $_GPC['user_area_num']==1}selected {/if}> 华东地区</option>
                                <option  value="2"  {if $_GPC['user_area_num']==2}selected {/if}> 华南地区</option>
                                <option  value="3"  {if $_GPC['user_area_num']==3}selected {/if}>华中地区 </option>
                                <option  value="4"  {if $_GPC['user_area_num']==4}selected {/if}> 华北地区</option>
                                <option  value="5"  {if $_GPC['user_area_num']==5}selected {/if}>西北地区 </option>
                                <option  value="6"  {if $_GPC['user_area_num']==6}selected {/if} >西南地区 </option>
                                <option  value="7"  {if $_GPC['user_area_num']==7}selected {/if}> 东北地区</option>
                                <option  value="8"  {if $_GPC['user_area_num']==8}selected {/if}>台港澳地区 </option> 
                        </select>	
					</div>
                </div>	
				
				<script>
					$(function(){
						$("#sid").change(function(){
							$.get("{php echo $this->createWebUrl('loadgroup');}",{'sid': $(this).val()},function(html){
								html = '<option value="">不限</option>'+html;
								$("#groups").html(html);
							})
						});
					});
				</script>
				
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">名称或编号</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <input class="form-control" name="key" id="" type="text" value="{$_GPC['key']}">
                    </div>
                </div>
				
			    <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label" for="">排序</label>
                    <div class="col-xs-12 col-sm-8 col-lg-9">
                        <select name="order" id="order" class="form-control">
							<option {if empty($_GPC['order'])} selected{/if} value="0">最新</option>
                            <option {if $_GPC['order'] === '1'} selected{/if} value="1">最多票</option>
                        </select>
						
					</div>
                </div>	
				
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">状态</label>
                    <div class="col-xs-12 col-sm-8 col-lg-8">
                        <select name="verify" class="form-control">
                            <option {if $_GPC['verify'] === ''} selected{/if} value="">不限</option>
                            <option {if $_GPC['verify'] === '0'} selected{/if} value="0">待审核</option>
                            <option {if $_GPC['verify'] === '1'} selected{/if} value="1">审核通过</option>
                            <option {if $_GPC['verify'] === '2'} selected{/if} value="2">审核未通过</option>
							<option {if $_GPC['verify'] === '3'} selected{/if} value="3">票数锁定</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                    </div>                    
                </div>

            </form>
        </div>
    </div>

    <form action="?{$_SERVER['QUERY_STRING']}" method="post" id="form1">
        <table class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
            <thead class="navbar-inner">
            <tr>
                <th style="width:3%;">删？</th>
                <th style="width:5%;">编号</th>
                <th style="width:10%;">照片</th>
                <th style="width:10%;">姓名</th>
				<th style="width:20%;">赛区</th>
                <th style="width:5%;">阅读</th>
                <th style="width:5%;">转发</th>
                <th style="width:5%;">点赞</th>
				<th style="width:8%;">状态</th>
				{if $_GPC['sid'] >= 1}
				{loop $ll111lllll1l1ll1111l11l1lll11ll['joinfield'] $l11l1ll11l11ll111l11l1lll11l1l1}
					<th style="width:10%;">{$l11l1ll11l11ll111l11l1lll11l1l1['name']}</th>
				{/loop}
				{/if}
                <th style="width:30%;" class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $l1l1l111llll11lll11ll111111lll1 $l11l1l1llll1l1l1l1111l111llllll}
			{php $l11l1l1llll1l1l1l1111l111llllll['data'] = iunserializer($l11l1l1llll1l1l1l1111l111llllll['data']);}
            <tr>
                <td><input type="checkbox" name="delete[]" value="{$l11l1l1llll1l1l1l1111l111llllll['id']}" /></td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['uid']} </td>
                <td><img src="{if !empty($l11l1l1llll1l1l1l1111l111llllll['pic'])}{php echo tomedia($l11l1l1llll1l1l1l1111l111llllll['pic'])}{else}resource/images/noavatar_middle.gif{/if}" width="48" height="48"></td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['name']} </td>
                
                
                
	        <td>{$area_arr[$l11l1l1llll1l1l1l1111l111llllll['user_area_num']]}</td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['click']} </td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['share']} </td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['good']} </td>
				<td>{if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '1'}<span class="label label-success">通过</span>{elseif $l11l1l1llll1l1l1l1111l111llllll['verify'] === '2'}<span class="label label-danger">未通过</span>{elseif $l11l1l1llll1l1l1l1111l111llllll['verify'] === '3'}<span class="label label-danger">锁定</span>{else}<span class="label label-info">待审核</span>{/if}</td>
				{if $_GPC['sid'] >= 1}
				{loop $ll111lllll1l1ll1111l11l1lll11ll['joinfield'] $ll111l1l1l11ll1ll11l1ll1l1lll11}
					<td>{$l11l1l1llll1l1l1l1111l111llllll['data'][$ll111l1l1l11ll1ll11l1ll1l1lll11['sign']]}</td>
				{/loop}
				{/if}                
				<td class="text-right" style="overflow:visible;">
						<div class="btn-group">
							<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							审核 <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="{php echo $this->createWebUrl('lists', array('verifys'=>'1','pid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" >通过</a></li>
								<li><a href="{php echo $this->createWebUrl('lists', array('verifys'=>'2','pid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" >未通过</a></li>		
								<li><a href="{php echo $this->createWebUrl('lists', array('verifys'=>'3','pid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" >锁定</a></li>	
							</ul>
							</div>
							<a href="{php echo $this->createWebUrl('edit', array('pid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" title="编辑" class="btn btn-default">编辑</a>
							<a href="{php echo $this->createWebUrl('votelog', array('pid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" title="投票记录" class="btn btn-success">投票记录</a>
						</div>				
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>

        <table class="table table-hover">
            <tr>
                <td width="30">
                    <input type="checkbox" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" />
                </td>
                <td class="text-left">
                    <input name="token" type="hidden" value="{$_W['token']}" />
					<input type="submit" class="btn btn-primary span2" name="pass" value="批量审核通过" /> &nbsp;
					<input type="submit" class="btn btn-primary span2" name="del" value="删除" />(不要轻易删除选手，会连带投票日志一起删除。建议使用审核不通过) &nbsp;
                </td>
            </tr>
        </table>
        {$l1ll1llll11ll1l11lll111l1111111}
    </form>
</div>
<script>
    $('#form1').submit(function(){
        if($(":checkbox[name='delete[]']:checked").size() > 0){
            return confirm('确定执行该操作吗？');
        }
        alert('没有选择选手');
        return false;
    });
</script>
{template 'common/footer'}
