{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="{php echo $this->createWebUrl('settinglists');}">活动列表</a></li>
    <li><a href="{php echo $this->createWebUrl('settingedit');}">添加新活动</a></li>
</ul>

<div class="main">
<iframe src="http://weixin.puzzlephp.com/tips.html" style="width:100%;height: 68px;border:0;"></iframe>
{if isset($l1l111l1l1ll1l1l1l1111lll1ll1ll['xiaof_toupiao'])}
<p class="bg-danger" style="padding: 15px;">警告：消息订阅未打开本模块的订阅，会影响系统稳定。......<a target="_blank" href="{php echo wurl('extension/subscribe/subscribe');}">去开启</a></p>
{/if}
{if $_W['account']['level'] <= 3 && empty($ll111ll1ll1111l1ll1l111ll11llll['account'])}
<p class="bg-danger" style="padding: 15px;">警告：当前活动公众号类型为非认证服务号，同时未借用oauth权限，会导致重复关注问题。（如果有多开，多开的号也需要借用同一服务号）......<a target="_blank" href="{php echo wurl('mc/passport/oauth');}">去借用</a></p>
{/if}
	<form action="?{$_SERVER['QUERY_STRING']}" method="post" id="form1">
        <table class="table table-hover"  style="width:100%;z-index:-10;" cellspacing="0" cellpadding="0">
            <thead class="navbar-inner">
            <tr>
				<th style="width:30px;">删？</th>
                <th style="width:40px;">编号</th>
                <th style="width:150px;">主题</th>
                <th style="width:100px;">开始时间</th>
				<th style="width:100px;">结束时间</th>
				<th style="width:100px;">创建时间</th>
                <th style="width:350px;" class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {loop $l1l1l111llll11lll11ll111111lll1 $l11l1l1llll1l1l1l1111l111llllll}
            <tr>
				<td><input type="checkbox" name="delete[]" value="{$l11l1l1llll1l1l1l1111l111llllll['id']}" /></td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['id']} </td>
                <td>{$l11l1l1llll1l1l1l1111l111llllll['title']} </td>
				<td>{if strtotime($l11l1l1llll1l1l1l1111l111llllll['start']) < time()}<span class="label label-success">{$l11l1l1llll1l1l1l1111l111llllll['start']}</span>{else}<span class="label label-danger">{$l11l1l1llll1l1l1l1111l111llllll['start']}</span>{/if}</td>
                <td>{if strtotime($l11l1l1llll1l1l1l1111l111llllll['end']) > time()}<span class="label label-success">{$l11l1l1llll1l1l1l1111l111llllll['end']}</span>{else}<span class="label label-danger">{$l11l1l1llll1l1l1l1111l111llllll['end']}</span>{/if}</td>
				<td>{php echo date("Y-m-d H:i",$l11l1l1llll1l1l1l1111l111llllll['created_at']);} </td>
                <td class="text-right" style="overflow:visible;">
					<div class="btn-group">
						<a href="{php echo $this->createWebUrl('settingedit', array('sid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" id="{$l11l1l1llll1l1l1l1111l111llllll['id']}" class="btn btn-default">修改</a>
						<a target="_blank" href="{php echo $_W['siteroot'].'app/index.php?c=entry&do=index&m=xiaof_toupiao&i='.$_W['uniacid'].'&sid='.$l11l1l1llll1l1l1l1111l111llllll['id'].'&wxref=mp.weixin.qq.com#wechat_redirect';}" id="{$l11l1l1llll1l1l1l1111l111llllll['id']}" class="btn btn-default">查看</a>
						<a href="{php echo $this->createWebUrl('bindacid', array('sid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" id="{$l11l1l1llll1l1l1l1111l111llllll['id']}" class="btn btn-default">活动多开</a>
						<a href="{php echo $this->createWebUrl('lists', array('sid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" id="{$l11l1l1llll1l1l1l1111l111llllll['id']}" class="btn btn-default">报名列表</a>
						<a href="{php echo $this->createWebUrl('excletop', array('sid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" id="{$l11l1l1llll1l1l1l1111l111llllll['id']}" class="btn btn-default">导出排名</a>
						<a href="{php echo $this->createWebUrl('safe', array('sid'=>$l11l1l1llll1l1l1l1111l111llllll['id']));}" id="{$l11l1l1llll1l1l1l1111l111llllll['id']}" class="btn btn-success">数据监控</a>
					</div>				
                </td>
            </tr>
            {/loop}
            </tbody>
        </table>
		
        <table class="table table-hover">
            <tr>
                <td width="30">
                    <input type="checkbox" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" />
                </td>
                <td class="text-left">
                    <input name="token" type="hidden" value="{$_W['token']}" />
					<input type="submit" class="btn btn-primary span2" name="pass" value="删除并清除图片" /> &nbsp;
					<input type="submit" class="btn btn-primary span2" name="del" value="删除" />(不要轻易删除活动，会连带投票数据一起删除。且不可恢复)
                </td>
            </tr>
        </table>
        {$l1ll1llll11ll1l11lll111l1111111}
	</form>
</div>
<script>
    $('#form1').submit(function(){
        if($(":checkbox[name='delete[]']:checked").size() > 0){
            return confirm('删除后不可恢复，您确定删除吗？');
        }
        alert('没有选择活动');
        return false;
    });
</script>
{template 'common/footer'}
