{template 'common/header'}

<div class="main">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#jcsz" aria-controls="jcsz" role="tab" data-toggle="tab">
				基础设置
			</a>
		</li>
		<li role="presentation">
			<a href="#xxjs" aria-controls="xxjs" role="tab" data-toggle="tab">
				详细介绍
			</a>
		</li>		
		<li role="presentation">
			<a href="#ggkz" aria-controls="ggkz" role="tab" data-toggle="tab">
				功能控制
			</a>
		</li>
		<li role="presentation">
			<a href="#fzsz" aria-controls="fzsz" role="tab" data-toggle="tab">
				分组设置
			</a>
		</li>		
		<li role="presentation">
			<a href="#wgsz" aria-controls="wgsz" role="tab" data-toggle="tab">
				外观设置
			</a>
		</li>
		<li role="presentation">
			<a href="#tpbm" aria-controls="tpbm" role="tab" data-toggle="tab">
				报名投票
			</a>
		</li>
		<li role="presentation">
			<a href="#jfsz" aria-controls="jfsz" role="tab" data-toggle="tab">
				积分设置
			</a>
		</li>
		<li role="presentation">
			<a href="#cjsz" aria-controls="cjsz" role="tab" data-toggle="tab">
				底部导航
			</a>
		</li>
		<li role="presentation">
			<a href="#twhf" aria-controls="twhf" role="tab" data-toggle="tab">
				回复分享
			</a>
		</li>
		<li role="presentation">
			<a href="#fxsz" aria-controls="twhf" role="tab" data-toggle="tab">
				报名字段
			</a>
		</li>		
		<li role="presentation">
			<a href="#hdhb" aria-controls="hdhb" role="tab" data-toggle="tab">
				活动海报
			</a>
		</li>				
	</ul>
	<form action="" class="form-horizontal form ng-pristine ng-valid" method="post" enctype="multipart/form-data">
		<input name="id" type="hidden" value="{$l11l1l1llll1l1l1l1111l111llllll['id']}" />
		<div class="panel panel-default">
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- 基础设置 -->
				<div role="tabpanel" class="tab-pane active" id="jcsz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					基础设置
					</div>					
					<div class="panel-body">
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">活动主题</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="title" value="{$l11l1l1llll1l1l1l1111l111llllll['title']}" />
								<span class="help-block">
									<strong>例：男神女神自拍比赛</strong>
								</span>
							</div>

						</div>
						
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">默认描述</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="describe" value="{$l11l1l1llll1l1l1l1111l111llllll['describe']}" />
								<span class="help-block">
									<strong>用户报名未填描述时显示。（例：我有我风采，为什么不秀出来！）</strong>
								</span>
							</div>

						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名时间</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_daterange('jointimes', array('start' => $l11l1l1llll1l1l1l1111l111llllll['joinstart'],'end'   => $l11l1l1llll1l1l1l1111l111llllll['joinend']),true);}
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">投票时间</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_daterange('times', array('start' => $l11l1l1llll1l1l1l1111l111llllll['start'],'end'   => $l11l1l1llll1l1l1l1111l111llllll['end']),true);}
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">多倍投票狂欢时间</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_daterange('doubletimes', array('start' => $l11l1l1llll1l1l1l1111l111llllll['doublestart'],'end' => $l11l1l1llll1l1l1l1111l111llllll['doubleend']),true);}
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">多倍投票倍率</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="double" value="{$l11l1l1llll1l1l1l1111l111llllll['double']}" />
								<span class="help-block">
									<strong>投票倍率。计算方式：1*倍率。如填2就是1*2，投一票等于2票（需要设置上面多倍时间，最大允许10倍）</strong>
								</span>						
							</div>
						</div>		
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">新报名双倍时间</label>
							<div class="col-sm-7">
								<div class="input-group">
									<input type="text" class="form-control" name="newjoindouble" value="{$l11l1l1llll1l1l1l1111l111llllll['newjoindouble']}" />
									<span class="input-group-addon">小时</span>
								</div>								
								<span class="help-block">
									<strong>新报名用户双倍时间，单位为小时，0或空不赠送(必须为整数)</strong>
								</span>						
							</div>
						</div>		
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名可投票时间</label>
							<div class="col-sm-7">
								<div class="input-group">
									<input type="text" class="form-control" name="joinendtime" value="{$l11l1l1llll1l1l1l1111l111llllll['joinendtime']}" />
									<span class="input-group-addon">天</span>
								</div>	
								<span class="help-block">
									<strong>设置每个新报名可投票天数，例：值为7，那么每个新报名从报名时间开始只有7天时间可投票。（值为整数，单位为天，留空或0不启用）</strong>
								</span>						
							</div>
						</div>							
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">选手时间内最大票数限制</label>
							<div class="col-sm-4">						
								{php echo tpl_form_field_date('maxgoodtime', $l11l1l1llll1l1l1l1111l111llllll['maxgoodtime'], true);}
								<span class="help-block">
								选手按时间限制最大允许票数，时间段前投票超过设定票数将不能接受投票（例：开始前三天内最多允许选手得500票）
								</span>									
							</div>
							<div class="col-sm-3">	
								<div class="input-group">
									<input type="text" class="form-control" name="maxgoodnum" value="{$l11l1l1llll1l1l1l1111l111llllll['maxgoodnum']}" placeholder="留空为不限制" />
									<span class="input-group-addon">票</span>
								</div>
							</div>
						</div>		
						 
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">活动单独绑定域名</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="binddomain" value="{$l11l1l1llll1l1l1l1111l111llllll['binddomain']}" />
								<span class="help-block">
									<strong>输入活动域名，带http://结尾要加/（例：http://www.demo.com/）<b style="color:red;">绑定更换域名还需修改公众平台js、oauth等域名</b></strong>
								</span>						
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">管理员微信</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="adminopenid" value="{$l11l1l1llll1l1l1l1111l111llllll['adminopenid']}" />
								<span class="help-block">
									<strong>设置管理员微信openid。用户报名将通知管理员微信号审核（填写已经关注本号的微信openid）</strong>
								</span>						
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">第三方统计代码</label>
							<div class="col-sm-7">
								<textarea class="form-control" name="statisticcode" rows="3">{$l11l1l1llll1l1l1l1111l111llllll['statisticcode']}</textarea>							
							</div>
						</div>
						
						{if $l11l1l1llll1l1l1l1111l111llllll['globalsetting']['openshare'] == 1}
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否显示分享朋友圈</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['showshare'] === '1'} active{/if}">
										<input type="radio" name="showshare" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['showshare'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['showshare'])} active{/if}">
										<input type="radio" name="showshare" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['showshare'])} checked{/if}>否
									</label>
								</div>
								选手详情页“喊亲友来加油投票”按钮是否显示
							</div>
							
						</div>
						{/if}
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">底部版权</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="copyright" value="{$l11l1l1llll1l1l1l1111l111llllll['copyright']}" />
								<span class="help-block">
									<strong>管理员账号才可修改设置</strong>
								</span>						
							</div>
						</div>						
					</div>
				</div>
				
				<!-- 详细介绍 -->
				<div role="tabpanel" class="tab-pane" id="xxjs">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					活动介绍
					</div>					
					<div class="panel-body">
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">公告标题</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="noticetitle" value="{$l11l1l1llll1l1l1l1111l111llllll['noticetitle']}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">公告内容</label>
							<div class="col-sm-7">
								<?php if(!empty($l11l1l1llll1l1l1l1111l111llllll['noticecontent'])){$ll11lllll1111l111l11l1l11lll1ll['noticecontent'] = $l11l1l1llll1l1l1l1111l111llllll['noticecontent'];}?>
								{php echo tpl_ueditor('noticecontent', $ll11lllll1111l111l11l1l11lll1ll['noticecontent']);}
							</div>
						</div>
						

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">活动介绍</label>
							<div class="col-sm-7">
								<?php if(!empty($l11l1l1llll1l1l1l1111l111llllll['detail'])){$ll11lllll1111l111l11l1l11lll1ll['detail'] = $l11l1l1llll1l1l1l1111l111llllll['detail'];}?>
								{php echo tpl_ueditor('detail', $ll11lllll1111l111l11l1l11lll1ll['detail']);}
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">活动规则</label>
							<div class="col-sm-7">
								<?php if(!empty($l11l1l1llll1l1l1l1111l111llllll['rules'])){$ll11lllll1111l111l11l1l11lll1ll['rules'] = $l11l1l1llll1l1l1l1111l111llllll['rules'];}?>
								{php echo tpl_ueditor('rules', $ll11lllll1111l111l11l1l11lll1ll['rules']);}
								<span class="help-block">
									<strong>根据活动自身实际情况填写（以上只为示范，尽可能填写详细）</strong>
								</span>						
							</div>

						</div>						
					</div>
				</div>
				
				<!-- 功能开关 -->
				<div role="tabpanel" class="tab-pane" id="ggkz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					功能控制
					</div>					
					<div class="panel-body">
					
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否禁止分享朋友圈</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['showtimeline'] === '1'} active{/if}">
										<input type="radio" name="showtimeline" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['showtimeline'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['showtimeline'])} active{/if}">
										<input type="radio" name="showtimeline" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['showtimeline'])} checked{/if}>否
									</label>
								</div>
								（选是后，右上角菜单不显示分享朋友圈项）
							</div>

						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启取消关注减票</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['unfollow'] === '1'} active{/if}">
										<input type="radio" name="unfollow" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['unfollow'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['unfollow'])} active{/if}">
										<input type="radio" name="unfollow" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['unfollow'])} checked{/if}>否
									</label>
								</div>
								（选是后，微信用户取消关注，所投票数会清除）
							</div>

						</div>
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否只允许微信打开</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['checkua'] === '1'} active{/if}">
										<input type="radio" name="checkua" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['checkua'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['checkua'])} active{/if}">
										<input type="radio" name="checkua" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['checkua'])} checked{/if}>否
									</label>
								</div>
								（选是后，其他平台将不能访问页面，只允许微信打开）
							</div>

						</div>
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">参赛是否审核</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '1'} active{/if}">
										<input type="radio" name="verify" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['verify'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['verify'])} active{/if}">
										<input type="radio" name="verify" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['verify'])} checked{/if}>否
									</label>
								</div>
								（选否将直接展示，选是需要管理在后台审核通过后才展示）
							</div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否关闭网页报名</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['openwapjoin'] === '1'} active{/if}">
										<input type="radio" name="openwapjoin" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['openwapjoin'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['openwapjoin'])} active{/if}">
										<input type="radio" name="openwapjoin" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['openwapjoin'])} checked{/if}>否
									</label>
								</div>
								（关闭后用户将不能在微信网页报名）
							</div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否关闭回复投票</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['openmsgvote'] === '1'} active{/if}">
										<input type="radio" name="openmsgvote" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['openmsgvote'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['openmsgvote'])} active{/if}">
										<input type="radio" name="openmsgvote" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['openmsgvote'])} checked{/if}>否
									</label>
								</div>
								（关闭后用户将不能在公众号回复投票）
							</div>

						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">积分变动是否通知</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['creditnotice'] === '1'} active{/if}">
										<input type="radio" name="creditnotice" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['creditnotice'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['creditnotice'])} active{/if}">
										<input type="radio" name="creditnotice" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['creditnotice'])} checked{/if}>否
									</label>
								</div>
								（开启此功能，用户在本模块积分变动，都会通知回复。认证号才能使用）<br/>
							</div>
						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名投票是否通知</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['dynamicnotice'] === '1'} active{/if}">
										<input type="radio" name="dynamicnotice" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['dynamicnotice'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['dynamicnotice'])} active{/if}">
										<input type="radio" name="dynamicnotice" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['dynamicnotice'])} checked{/if}>否
									</label>
								</div>
								（开启此功能，用户在本模块投票报名动态，都会通知回复。认证号才能使用）<br/>
							</div>

						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名审核是否通知</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['verifynotice'] === '1'} active{/if}">
										<input type="radio" name="verifynotice" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['verifynotice'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['verifynotice'])} active{/if}">
										<input type="radio" name="verifynotice" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['verifynotice'])} checked{/if}>否
									</label>
								</div>
								（开启此功能，审核结果通知选手）
							</div>

						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启虚拟访问量</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['openvirtualclick'] === '1'} active{/if}">
										<input type="radio" name="openvirtualclick" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['openvirtualclick'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['openvirtualclick'])} active{/if}">
										<input type="radio" name="openvirtualclick" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['openvirtualclick'])} checked{/if}>否
									</label>
								</div>
								（开启此功能，用户在给选手投票后，会随机增加选手1-10访问量。）
							</div>

						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">首页调用选手条数</label>
							<div class="col-sm-7"><input type="text" class="form-control" name="indexloadnum" value="{if empty($l11l1l1llll1l1l1l1111l111llllll['indexloadnum'])}12{else}{$l11l1l1llll1l1l1l1111l111llllll['indexloadnum']}{/if}" placeholder="" /></div>
						</div>							
					</div>
				</div>
				
				<!-- 分组设置 -->
				<div role="tabpanel" class="tab-pane" id="fzsz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					选手分组
					</div>				
					<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启选手分组</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['opengroups'] === '1'} active{/if}">
										<input type="radio" name="opengroups" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['opengroups'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['opengroups'])} active{/if}">
										<input type="radio" name="opengroups" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['opengroups'])} checked{/if}>否
									</label>
								</div>
							</div>

						</div>	
						
						<div id="form-box">
							{loop $l11l1l1llll1l1l1l1111l111llllll['groups'] $l1l11llll1111ll1ll1llll11lll11l $l1llllll1ll11l1lllll1ll1l11l11l}
							<div class="form-group">
								<div class="col-sm-12 col-xs-12">
									<input type="hidden" name="groupid[]" value="{$l1l11llll1111ll1ll1llll11lll11l}"/>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">分组名称</span>
											<input type="text" class="form-control" name="groupname[]" value="{$l1llllll1ll11l1lllll1ll1l11l11l['name']}" placeholder="" />
										</div>
									</div>
																
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">排序</span>
											<input type="text" class="form-control" name="groupsort[]" value="{$l1llllll1ll11l1lllll1ll1l11l11l['sort']}" placeholder="" />
										</div>
									</div>	
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 ">
										<div style="margin-left:-15px;margin-bottom:17px">
										<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
										&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
										</div>
									</div>									
								</div>
							</div>	
							{/loop}
						</div>	
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<div class="well well-sm">
									<a href="javascript:;" onclick="addOption();">添加分组 <i class="fa fa-plus-circle" title="添加分组"></i></a>
								</div>
							</div>
						</div> 

					</div>
				</div>
				
				<!-- 外观设置 -->
				<div role="tabpanel" class="tab-pane" id="wgsz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					外观设置
					</div>					
					<div class="panel-body">
					
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">开启底部人气榜</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['openpopularity'] === '1'} active{/if}">
										<input type="radio" name="openpopularity" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['openpopularity'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['openpopularity'])} active{/if}">
										<input type="radio" name="openpopularity" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['openpopularity'])} checked{/if}>否
									</label>
								</div>
								（开启后，将在底部全局推荐分享到朋友圈最多的选手）
							</div>

						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">开启选手页投票人信息</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['openvoteuser'] === '1'} active{/if}">
										<input type="radio" name="openvoteuser" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['openvoteuser'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['openvoteuser'])} active{/if}">
										<input type="radio" name="openvoteuser" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['openvoteuser'])} checked{/if}>否
									</label>
								</div>
								（开启后，将在选手详细页，展示最近帮Ta投票的微信用户头像）
							</div>

						</div>
						
						{if $l11l1l1llll1l1l1l1111l111llllll['globalsetting']['openmusic'] == 1}
					    <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">首页背景音乐</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_audio('audio', $l11l1l1llll1l1l1l1111l111llllll['audio']);}
							</div>
						</div>
						{/if}

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">头部全局banner图</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_multi_image('thumb', $l11l1l1llll1l1l1l1111l111llllll['thumb']);}
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">banner图链接</label>
							<div class="col-sm-7">
								<textarea class="form-control" name="thumblink" rows="3">{$l11l1l1llll1l1l1l1111l111llllll['thumblink']}</textarea>
								<span class="help-block">
									<strong>对应全局banner图链接，换行输入, 一行一个链接</strong>
								</span>									
							</div>
						</div>
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">模板选择</label>
							<div class="col-sm-7">
								<div class="radio">
								  <label>
									<input type="radio" name="template" class="template" value="" {if empty($l11l1l1llll1l1l1l1111l111llllll['template'])} checked{/if}>
									多色模板
								  </label>
								</div>
								<div class="radio">
								  <label>
									<input type="radio" name="template" class="template" value="xiaofweui/" {if $l11l1l1llll1l1l1l1111l111llllll['template'] === 'xiaofweui/'} checked{/if}>
									微信简洁风格(此模板只允许按钮色，建议值：#04BE02)
								  </label>
								</div>										
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">body背景色</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_color('bodycolor', $l11l1l1llll1l1l1l1111l111llllll['bodycolor']);}（默认值：#6e6e6f）
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">底部导航色</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_color('bottomcolor', $l11l1l1llll1l1l1l1111l111llllll['bottomcolor']);}（默认值：#3a3a3a）
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">box主色</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_color('boxcolor', $l11l1l1llll1l1l1l1111l111llllll['boxcolor']);}（默认值：#e44f4f）
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">标题色</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_color('titlecolor', $l11l1l1llll1l1l1l1111l111llllll['titlecolor']);}（默认值：#544a4f）
							</div>

						</div>		

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">文字颜色</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_color('textcolor', $l11l1l1llll1l1l1l1111l111llllll['textcolor']);}（默认值：#e6d8a1）
							</div>

						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">按钮色</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_color('buttoncolor', $l11l1l1llll1l1l1l1111l111llllll['buttoncolor']);}（默认值：#dea543）
							</div>

						</div>

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for=""></label>
							<div class="col-sm-7">
								<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
										  点击查看配色对应位置
								</button>
								
								<button class="btn btn-primary" onclick="setColor('#6e6e6f','#e44f4f','#544a4f','#e6d8a1','#dea543');" type="button">
									默认色
								</button>
								<button class="btn btn-primary" onclick="setColor('#483977','#d5447f','#B64281','#e6d8a1','#dea543');" type="button">
									紫色调
								</button>
								
								<span class="help-block">
									<div class="collapse" id="collapseExample1">
									  <div class="well">
										如果你有漂亮的配色，可以发给我分享给大家。
										<img src="http://weixin.puzzlephp.com/attachment/images/global/20151209141453.png"/>
									  </div>
									</div>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">全局底部说明</label>
							<div class="col-sm-7">
								<?php  if($ll11ll1l1lll11l1111lll11l11111l = pdo_fetch("SELECT `data` FROM " . tablename("xiaof_toupiao_setting") . " WHERE `id` = :id", array(":id" => $_GPC['sid']))){ $ll11ll1l1lll11l1111lll11l11111l = iunserializer($ll11ll1l1lll11l1111lll11l11111l['data']); if(!empty($ll11ll1l1lll11l1111lll11l11111l['bottom'])){$l1ll1l1111111ll111ll111l1lll111['bottom'] = $ll11ll1l1lll11l1111lll11l11111l['bottom'];} } ?>
								{php echo tpl_ueditor('bottom', $l1ll1l1111111ll111ll111l1lll111['bottom']);}
							</div>

						</div>					
					</div>
				</div>
				
				<!-- 投票报名设置 -->
				<div role="tabpanel" class="tab-pane" id="tpbm">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					报名投票防刷设置
					</div>					
					<div class="panel-body">
					
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名允许的照片数量</label>
							<div class="col-sm-7">
							<input type="text" class="form-control" name="limitpic" value="{$l11l1l1llll1l1l1l1111l111llllll['limitpic']}" placeholder="" />
							（0或留空为默认的5张）
							</div>
						</div>
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">开启回复投票跳转网页</label>
							<div class="col-sm-6">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['votejump'] === '1'} active{/if}">
										<input type="radio" name="votejump" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['votejump'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['votejump'])} active{/if}">
										<input type="radio" name="votejump" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['votejump'])} checked{/if}>否
									</label>
								</div>
								（解决微信回复投票获取不到投票真实ip问题）
							</div>
						</div>
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">地区限制方式</label>
							<div class="col-sm-6">						
								<label class="checkbox-inline">
								  <input type="checkbox" name="veriftype[]" value="ip" {if in_array('ip', $l11l1l1llll1l1l1l1111l111llllll['veriftype'])} checked{/if}> IP
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" name="veriftype[]" value="sms" {if in_array('sms', $l11l1l1llll1l1l1l1111l111llllll['veriftype'])} checked{/if}> 短信地区
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" name="veriftype[]" value="gps" {if in_array('gps', $l11l1l1llll1l1l1l1111l111llllll['veriftype'])} checked{/if}> GPS
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" name="veriftype[]" value="fans" {if in_array('fans', $l11l1l1llll1l1l1l1111l111llllll['veriftype'])} checked{/if}> 粉丝信息
								</label>	
								<div class="help-block">
								（可多选，GPS可定位到县，其他到市级。GPS需在“参数设置”里设置百度AK）
								</div>
							</div>
						</div>	
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">投票前短信验证</label>
							<div class="col-sm-6">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['verifysms'] === '1'} active{/if}">
										<input type="radio" name="verifysms" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['verifysms'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['verifysms'])} active{/if}">
										<input type="radio" name="verifysms" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['verifysms'])} checked{/if}>否
									</label>
								</div>
								（开启后，第一次需要短信验证手机号，判断手机号归属地，需要“参数设置”里配置阿里大鱼参数）
							</div>
						</div>
						
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">同ip每天最大允许投票数</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="ipmaxvote" value="{$l11l1l1llll1l1l1l1111l111llllll['ipmaxvote']}"  placeholder="留空为不限制"/>
								（超出设定值ip将不能再投票）
							</div>

						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">一分钟内最大增票数</label>
							<div class="col-sm-7">
							<input type="text" class="form-control" name="minutenum" value="{$l11l1l1llll1l1l1l1111l111llllll['minutenum']}" placeholder="" />
							（同选手一分钟内最大允许增票数，超过自动锁定）
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">锁定选手释放时间</label>
							<div class="col-sm-7">
							<input type="text" class="form-control" name="releasetime" value="{$l11l1l1llll1l1l1l1111l111llllll['releasetime']}" placeholder="" />
							（被锁定选手释放时间，超过时间恢复投票，留空一直锁定.单位为分钟）
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">个人每天可投票数</label>
							<div class="col-sm-7"><input type="text" class="form-control" name="vnum" value="{if empty($l11l1l1llll1l1l1l1111l111llllll['vnum'])}5{else}{$l11l1l1llll1l1l1l1111l111llllll['vnum']}{/if}" placeholder="" /></div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">个人给同一选手总投票</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="limitone" value="{$l11l1l1llll1l1l1l1111l111llllll['limitone']}" placeholder="" />
								（可以限制活动期间同一个微信号可以给同一选手投票总量，超出不允许再投，0或留空为不限制）
							</div>
						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">个人活动期间总投票</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="maxvotenum" value="{$l11l1l1llll1l1l1l1111l111llllll['maxvotenum']}" placeholder="" />
								（同一微信号，活动期间可投总票数）
							</div>
						</div>							
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">多开同选手每天票数</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="limitonevote" value="{$l11l1l1llll1l1l1l1111l111llllll['limitonevote']}" placeholder="" />
								可以限制公众号多开时，同一个微信号最多允许给同一选手每天可投票数。<br/>例：绑定了10个多开，正常是可以在10个公众号给同选手投10票，如此功能值设置为2，那么投票人可以选择在其中2个公众号里投票，其他号对同选手将不能再投。<b style="color:red;">（如不需要强烈建议留空，此功能对性能影响很大！！！）</b>
							</div>
						</div>	
						
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">地区限制等级</label>
							<div class="col-sm-7">
								<div class="radio">
								  <label>
									<input type="radio" name="citylevel" class="citylevel" value="0" {if empty($l11l1l1llll1l1l1l1111l111llllll['citylevel'])} checked{/if}>
									省级
								  </label>
								</div>
								<div class="radio">
								  <label>
									<input type="radio" name="citylevel" class="citylevel" value="1" {if $l11l1l1llll1l1l1l1111l111llllll['citylevel'] === '1'} checked{/if}>
									市级
								  </label>
								</div>		
								<div class="radio">
								  <label>
									<input type="radio" name="citylevel" class="citylevel" value="2" {if $l11l1l1llll1l1l1l1111l111llllll['citylevel'] === '2'} checked{/if}>
									区/县
								  </label>
								</div>							
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">活动地区限制</label>
							<div class="col-sm-7">
								<div class="row row-fix tpl-district-container">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<select id="province" name="province" class="form-control tpl-province">
										</select>
									</div>
									<div id="city" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<select name="city" class="form-control tpl-city">
										</select>
									</div>
									<div id="district" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<select name="district" class="form-control tpl-district">
										</select>
									</div>									
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<span id="cityadd" title="添加" class="btn btn-primary">添加</span><strong>(留空则不限制地区参与)</strong>
									</div>
								</div>
								<div class="help-block">
									<div class="well" id="citylist">
										{loop $l11l1l1llll1l1l1l1111l111llllll['city'] $lll1111lll1111l11l1llll1111ll1l}
											<span onclick="$(this).remove();"><input type="hidden" name="city[]" value="{$lll1111lll1111l11l1llll1111ll1l}"/><span class="label label-success">{$lll1111lll1111l11l1llll1111ll1l}</span>&nbsp;&nbsp;&nbsp;</span>
										{/loop}
									</div>
								</div>									
							</div>
							<script>	
								$("#cityadd").click(function(){
									var citylevel = $(".citylevel:checked").val();
									
									if(citylevel == 0){
										var cityvalue = $("#province").val();
									}else if(citylevel == 1){
										var cityvalue = $(".tpl-city").val();
									}else{
										var cityvalue = $(".tpl-district").val();
									}		
									
									if(cityvalue != ""){
										html = '<span onclick="$(this).remove();"><input type="hidden" name="city[]" value="'+cityvalue+'"/><span class="label label-success">'+cityvalue+'</span>&nbsp;&nbsp;&nbsp;</span>';
										$("#citylist").append(html);
									}
								});		
								$(".citylevel").change(function(){
								
									var citylevel = $(".citylevel:checked").val();
									if(citylevel == 0){
										$("#city").hide();
										$("#district").hide();
									}else if(citylevel == 1){
										$("#city").show();
										$("#district").hide();
									}else{
										$("#city").show();
										$("#district").show();
									}								
								});
								$(".citylevel").change();
								require(["jquery", "district"], function($, dis){
									
									$(".tpl-district-container").each(function(){
										var elms = {};
										elms.province = $(this).find(".tpl-province")[0];
										elms.city = $(this).find(".tpl-city")[0];
										elms.district = $(this).find(".tpl-district")[0];										
										var vals = {};
										vals.province = $(elms.province).attr("data-value");
										vals.city = $(elms.city).attr("data-value");
										vals.district = $(elms.district).attr("data-value");
										dis.render(elms, vals, {withTitle: true});
									});
								});
							</script>
						</div>
						{if $l11l1l1llll1l1l1l1111l111llllll['globalsetting']['openfollow'] == 1}
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">投票前是否关注</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['votefollow'] === '1'} active{/if}">
										<input type="radio" name="votefollow" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['votefollow'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['votefollow'])} active{/if}">
										<input type="radio" name="votefollow" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['votefollow'])} checked{/if}>否
									</label>
								</div>
								（需要oauth权限，可以设置借用认证服务号权限。）
							</div>

						</div>
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名前是否关注</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['joinfollow'] === '1'} active{/if}">
										<input type="radio" name="joinfollow" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['joinfollow'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['joinfollow'])} active{/if}">
										<input type="radio" name="joinfollow" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['joinfollow'])} checked{/if}>否
									</label>
								</div>
								（需要oauth权限，可以设置借用认证服务号权限。）
							</div>

						</div>
						{/if}

					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">判断关注模式</label>
							<div class="col-sm-7">
								<div class="radio">
								  <label>
									<input type="radio" name="followmode" id="followmode1" value="0" {if empty($l11l1l1llll1l1l1l1111l111llllll['followmode'])} checked{/if}>
									普通
								  </label>
								</div>
								<div class="radio">
								  <label>
									<input type="radio" name="followmode" id="followmode2" value="2" {if $l11l1l1llll1l1l1l1111l111llllll['followmode'] === '2'} checked{/if}>
									关键词触发
								  </label>
								</div>
								<div class="radio">
								  <label>
									<input  onclick="alert('使用开放平台前您必须确定当前活动公众号(和多开里认证公众号)都已经绑定微信开放平台。否则造成严重资源浪费影响系统稳定');" type="radio" name="followmode" id="followmode3" value="1" {if $l11l1l1llll1l1l1l1111l111llllll['followmode'] === '1'} checked{/if}>
									开放平台
								  </label>
								</div>				
								<div class="radio">
								  <label>
									<input onclick="alert('使用开放平台前您必须确定当前活动公众号(和多开里认证公众号)都已经绑定微信开放平台。否则造成严重资源浪费影响系统稳定');" type="radio" name="followmode" id="followmode3" value="3" {if $l11l1l1llll1l1l1l1111l111llllll['followmode'] === '3'} checked{/if}>
									开放平台+关键词触发混合
								  </label>
								</div>						
								<span class="help-block">
								<b>开放平台介绍：</b><br/>
								适用订阅号判断粉丝关注，如服务号一样用户体验极佳，无需触发关键字回复。需绑定微信开放平台<br/>
								<b>关键词触发介绍：</b><br/>
								关键词触发也适用订阅号判断粉丝关注。优点配置简单，但粉丝必须触发关键词进入一次<br/>
								<b>开放平台+关键词触发混合介绍：</b><br/>
								认证公众号使用开放平台判断，未认证公众号使用关键词触发<br/>	
								<b style="color:red;">如没有使用开放平台，请选择关键词触发，否则会造成严重资源浪费影响系统稳定</b>
								</span>
							</div>
						</div>	
</div>							
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					其他
					</div>					
					<div class="panel-body">						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">关注二维码图</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_image('accountqrcode', $l11l1l1llll1l1l1l1111l111llllll['accountqrcode']);}
								<span class="help-block">
									<strong>可以用场景二维码，需自行去二维码管理新建</strong>
								</span>							
							</div>
						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名关注提示文字</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="followjointext" value="{$l11l1l1llll1l1l1l1111l111llllll['followjointext']}" placeholder="" />
								<span class="help-block">
									<strong>关注提示时，二维码图上面的文字。例：长按二维码进入公众号报名</strong>
								</span>							
							</div>
						</div>		
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">投票关注提示文字</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="followvotetext" value="{$l11l1l1llll1l1l1l1111l111llllll['followvotetext']}" placeholder="" />
								<span class="help-block">
									<strong>关注提示时，二维码图上面的文字。例：长按二维码进入公众号投票</strong>
								</span>							
							</div>
						</div>		
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">抽奖关注提示文字</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="followdrawtext" value="{$l11l1l1llll1l1l1l1111l111llllll['followdrawtext']}" placeholder="" />
								<span class="help-block">
									<strong>关注提示时，二维码图上面的文字。例：长按二维码进入公众号抽奖</strong>
								</span>							
							</div>
						</div>							
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">投票弹出类型</label>
							<div class="col-sm-7">
								<div class="radio">
								  <label>
									<input type="radio" name="advotetype" class="advotetype" value="0" {if empty($l11l1l1llll1l1l1l1111l111llllll['advotetype'])} checked{/if}>
									弹出广告图
								  </label>
								</div>
								<div class="radio">
								  <label>
									<input type="radio" name="advotetype" class="advotetype" value="1" {if $l11l1l1llll1l1l1l1111l111llllll['advotetype'] === '1'} checked{/if}>
									多开绑定二维码提示
								  </label>
								</div>										
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">投票弹出广告图</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_multi_image('advotepic', $l11l1l1llll1l1l1l1111l111llllll['advotepic']);}
								<span class="help-block">
									<strong>投票成功后，提示弹出窗展示图片</strong>
								</span>							
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">投票弹出图链接</label>
							<div class="col-sm-7">
								<textarea class="form-control" name="advotelink" rows="3">{$l11l1l1llll1l1l1l1111l111llllll['advotelink']}</textarea>
								<span class="help-block">
									<strong>投票成功后，提示弹出窗展示图片的链接，换行输入, 一行一个链接</strong>
								</span>							
							</div>
						</div>	

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">报名后跳转链接</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="joinjumplink" value="{$l11l1l1llll1l1l1l1111l111llllll['joinjumplink']}" placeholder="" />
								<span class="help-block">
									<strong>报名成功后，跳转链接</strong>
								</span>							
							</div>
						</div>	

						
					</div>
				</div>
				
				<!-- 积分设置 -->
				<div role="tabpanel" class="tab-pane" id="jfsz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					积分赠送  （粉丝必须先关注公众号才有积分）
					</div>					
					<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启积分功能</label>
							<div class="col-sm-8">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['opencredit'] === '1'} active{/if}">
										<input type="radio" name="opencredit" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['opencredit'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['opencredit'])} active{/if}">
										<input type="radio" name="opencredit" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['opencredit'])} checked{/if}>否
									</label>
								</div>	
								（开启本功能下面设置才会生效）						
							</div>

						</div>

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">报名送积分数</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="joincredit" value="{$l11l1l1llll1l1l1l1111l111llllll['joincredit']}" placeholder="留空为不赠送" />				
							</div>

						</div>

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">投票送积分数</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="votecredit" value="{$l11l1l1llll1l1l1l1111l111llllll['votecredit']}" placeholder="留空为不赠送" />					
							</div>

						</div>	
					</div>
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					积分抽奖  （粉丝必须先关注公众号才可抽奖）
					</div>	
					
					<div class="panel-body">
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启积分抽奖功能</label>
							<div class="col-sm-8">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['opendraw'] === '1'} active{/if}">
										<input type="radio" name="opendraw" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['opendraw'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['opendraw'])} active{/if}">
										<input type="radio" name="opendraw" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['opendraw'])} checked{/if}>否
									</label>
								</div>	
								（开启本功能下面设置才会生效）						
							</div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">抽奖一次所需积分数</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="drawcredit" value="{$l11l1l1llll1l1l1l1111l111llllll['drawcredit']}" placeholder="" />					
							</div>

						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">每日限制抽奖次数</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="drawlimit" value="{$l11l1l1llll1l1l1l1111l111llllll['drawlimit']}" placeholder="" />					
							</div>

						</div>							
						<br/><br/>
								<div class="form-group">
									<label class="col-xs-12 col-sm-2 col-md-1 control-label" for=""></label>
									<div class="col-sm-11">					
										<div class="col-sm-2">
										   类型		
										</div>	
										<div class="col-sm-1">
											概率设置			
										</div>					
										<div class="col-sm-2">
											展示名称			
										</div>
										<div class="col-sm-2">
											数量	
										</div>								
										<div class="col-sm-3">
											物品图片（尺寸75*60）
										</div>
										<div class="col-sm-1">
											当前概率
										</div>		
										<div class="col-sm-1">
											已中次数
										</div>											
									</div>	
								</div>
								{loop $l11l1l1llll1l1l1l1111l111llllll['prize'] $l111lll1ll11ll111lll1llllll1l1l $l1llll1l111l1l1l1ll1ll11111l1ll}
								<div class="form-group">
									<label class="col-xs-12 col-sm-2 col-md-1 control-label" for="">奖项{$l111lll1ll11ll111lll1llllll1l1l}</label>
									<div class="col-sm-11">					
										<div class="col-sm-2">
										   <select name="prize[{$l111lll1ll11ll111lll1llllll1l1l}][attr]" class="form-control">
												<option {if empty($l1llll1l111l1l1l1ll1ll11111l1ll['attr'])} selected{/if} value="0">谢谢参与</option>
												<option {if $l1llll1l111l1l1l1ll1ll11111l1ll['attr'] == '1'} selected{/if} value="1">实物</option>
												<option {if $l1llll1l111l1l1l1ll1ll11111l1ll['attr'] == '2'} selected{/if} value="2">赠送积分</option>
												<option {if $l1llll1l111l1l1l1ll1ll11111l1ll['attr'] == '3'} selected{/if} value="3">双倍投票半小时</option>
												<option {if $l1llll1l111l1l1l1ll1ll11111l1ll['attr'] == '4'} selected{/if} value="4">双倍投票一小时</option>
												<option {if $l1llll1l111l1l1l1ll1ll11111l1ll['attr'] == '5'} selected{/if} value="5">双倍投票二小时</option>
												<option {if $l1llll1l111l1l1l1ll1ll11111l1ll['attr'] == '6'} selected{/if} value="6">双倍投票八小时</option>
											</select>			
										</div>	
										
										<div class="col-sm-1">
											<input type="text" class="form-control" name="prize[{$l111lll1ll11ll111lll1llllll1l1l}][probability]" value="{$l1llll1l111l1l1l1ll1ll11111l1ll['probability']}" placeholder="概率(整数)" title="中奖概率"/>				
										</div>					
										<div class="col-sm-2">
											<input type="text" class="form-control" name="prize[{$l111lll1ll11ll111lll1llllll1l1l}][name]" value="{$l1llll1l111l1l1l1ll1ll11111l1ll['name']}" placeholder="奖品展示名称"  title="奖品展示名称"/>				
										</div>
										<div class="col-sm-2">
											<input type="text" class="form-control" name="prize[{$l111lll1ll11ll111lll1llllll1l1l}][num]" value="{$l1llll1l111l1l1l1ll1ll11111l1ll['num']}" placeholder="数量"  title="数量"/>				
										</div>								
										<div class="col-sm-3">
										{php echo tpl_form_field_image('prize['.$l111lll1ll11ll111lll1llllll1l1l.'][pic]', $l1llll1l111l1l1l1ll1ll11111l1ll['pic'], '', array('width' => 75));}
										</div>
										<div class="col-sm-1">
											{php echo round($l1llll1l111l1l1l1ll1ll11111l1ll['probability']/$ll1ll111llll1ll1ll1111111ll1lll * 100 , 2);}%
										</div>	
										<div class="col-sm-1">
											{$l1llll1l111l1l1l1ll1ll11111l1ll['total']}
										</div>										
									</div>
								</div>
								{/loop}

								
					</div>
				</div>
				
				<!-- 底部菜单 -->
				<div role="tabpanel" class="tab-pane" id="cjsz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					自定义底部菜单
					</div>					
					<div class="panel-body">

						<div id="form-menu">
							{loop $l11l1l1llll1l1l1l1111l111llllll['menu'] $l11l111l1l11111l11ll11l11l111ll}
							<div class="form-group">
								<div class="col-sm-12 col-xs-12">

									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-1">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<input type="text" class="form-control" name="menu[sort][]" value="{$l11l111l1l11111l11ll11l11l111ll['sort']}" placeholder="排序" />
										</div>
									</div>	
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">名称</span>
											<input type="text" class="form-control" name="menu[name][]" value="{$l11l111l1l11111l11ll11l11l111ll['name']}" placeholder="" />
										</div>
									</div>
															
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">URL</span>
											<input type="text" class="form-control" name="menu[url][]" value="{$l11l111l1l11111l11ll11l11l111ll['url']}" placeholder="" />
										</div>
									</div>	
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											{php echo tpl_form_field_icon('menu[icon][]', $l11l111l1l11111l11ll11l11l111ll['icon']);}
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
										<div style="margin-left:-15px;margin-bottom:17px">
										<label class="checkbox-inline" style="vertical-align:bottom">
											<input type="hidden" name="menu[isshow][]" value="{$l11l111l1l11111l11ll11l11l111ll['isshow']}">
											<input type="checkbox" {if !empty($l11l111l1l11111l11ll11l11l111ll['isshow'])}checked{/if} onclick="$(this).prev().val(this.checked ? '1' : '0');"> 是否显示
										</label>
										
										<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
										&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
										</div>
									</div>									
								</div>
							</div>	
							{/loop}
						</div>	
					
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<div class="well well-sm">
									<a href="javascript:;" onclick="addMenu();">添加菜单 <i class="fa fa-plus-circle" title="添加菜单"></i></a>
								</div>
							</div>
						</div> 	
						
					</div>
				</div>
				
				<!-- 图文回复 -->
				<div role="tabpanel" class="tab-pane" id="twhf">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					回复规则首页图文内容
					</div>					
					<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">回复图片</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_image('replythumb', $l11l1l1llll1l1l1l1111l111llllll['replythumb']);}
							</div>
						</div>	
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">回复标题</label>
							<div class="col-sm-7"><input type="text" class="form-control" name="replytitle" value="{$l11l1l1llll1l1l1l1111l111llllll['replytitle']}" placeholder="" /></div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">回复内容</label>
							<div class="col-sm-7"><input type="text" class="form-control" name="replycontent" value="{$l11l1l1llll1l1l1l1111l111llllll['replycontent']}" placeholder="" /></div>

						</div>	
					</div>
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					分享内容
					</div>					
					<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">分享图片</label>
							<div class="col-sm-7">

								{php echo tpl_form_field_image('sharethumb', $l11l1l1llll1l1l1l1111l111llllll['sharethumb'], '', array('width' => 400, 'extras' => array('text' => 'ng-model="entry.sharethumb"')));}
							</div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">分享标题</label>
							<div class="col-sm-7"><input type="text" class="form-control" name="sharetitle" value="{$l11l1l1llll1l1l1l1111l111llllll['sharetitle']}" placeholder="" /></div>

						</div>
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">分享内容</label>
							<div class="col-sm-7"><input type="text" class="form-control" name="sharecontent" value="{$l11l1l1llll1l1l1l1111l111llllll['sharecontent']}" placeholder="" /></div>

						</div>

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">选手拉票分享标题</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" name="mysharetitle" value="{$l11l1l1llll1l1l1l1111l111llllll['mysharetitle']}" placeholder="" />
								<span class="help-block">
									<strong>可替换参数{title}=活动名称，{group}=选手分组，{uid}=选手编号，{name}=选手姓名<br/>
									例：我参加{title}，编号是{uid}，大家多多支持
									</strong>
								</span>										
							</div>

						</div>							
					</div>
				</div>
				
				<!-- 分享设置 -->
				<div role="tabpanel" class="tab-pane" id="fxsz">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					语音
					</div>					
					<div class="panel-body">
					
					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启录音</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['opensound'] === '1'} active{/if}">
										<input type="radio" name="opensound" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['opensound'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['opensound'])} active{/if}">
										<input type="radio" name="opensound" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['opensound'])} checked{/if}>否
									</label>
								</div>	
								（开启本功能允许用户录音上传。必须使用七牛存储）						
							</div>

						</div>
					</div>	
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					自定义报名字段
					</div>					
					<div class="panel-body">					
						<div id="form-field">
							{loop $l11l1l1llll1l1l1l1111l111llllll['joinfield'] $l11l1ll11l11ll111l11l1lll11l1l1}
							<div class="form-group">
								<div class="col-sm-12 col-xs-12">
									<input type="hidden" name="groupid[]" value="{$l1l11llll1111ll1ll1llll11lll11l}"/>
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">分组名称</span>
											<input type="text" class="form-control" name="joinfield[name][]" value="{$l11l1ll11l11ll111l11l1lll11l1l1['name']}" placeholder="" />
										</div>
									</div>
																
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">字段标识</span>
											<input type="text" class="form-control" name="joinfield[sign][]" value="{$l11l1ll11l11ll111l11l1lll11l1l1['sign']}" placeholder="" />
										</div>
									</div>	
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 ">
										<div style="margin-left:-15px;margin-bottom:17px">
										<label class="checkbox-inline" style="vertical-align:bottom">
											<input type="hidden" name="joinfield[isnull][]" value="{$l11l1ll11l11ll111l11l1lll11l1l1['isnull']}">
											<input type="checkbox" {if !empty($l11l1ll11l11ll111l11l1lll11l1l1['isnull'])}checked{/if} onclick="$(this).prev().val(this.checked ? '1' : '0');"> 允许为空
										</label>
										
										<label class="checkbox-inline" style="vertical-align:bottom">
											<input type="hidden" name="joinfield[isshow][]" value="{$l11l1ll11l11ll111l11l1lll11l1l1['isshow']}">
											<input type="checkbox" {if !empty($l11l1ll11l11ll111l11l1lll11l1l1['isshow'])}checked{/if} onclick="$(this).prev().val(this.checked ? '1' : '0');"> 选手页展示
										</label>
										
										<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
										&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
										</div>
									</div>									
								</div>
							</div>	
							{/loop}
						</div>	
						<div class="form-group">
							<div class="col-sm-12 col-xs-12">
								<div class="well well-sm">
									<a href="javascript:;" onclick="addField();">添加字段 <i class="fa fa-plus-circle" title="添加字段"></i></a>
								</div>
							</div>
						</div> 					
					</div>
									
				</div>	
				
				<!-- 活动海报 -->
				<link href="./resource/css/app.css" rel="stylesheet">
				<div role="tabpanel" class="tab-pane" id="hdhb">
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					活动海报
					</div>									
					<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否开启海报</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['openposter'] === '1'} active{/if}">
										<input type="radio" name="openposter" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['openposter'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['openposter'])} active{/if}">
										<input type="radio" name="openposter" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['openposter'])} checked{/if}>否
									</label>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">认证服务号扫码直接投票</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary {if $l11l1l1llll1l1l1l1111l111llllll['qrcodetype'] === '1'} active{/if}">
										<input type="radio" name="qrcodetype" value="1" autocomplete="off" {if $l11l1l1llll1l1l1l1111l111llllll['qrcodetype'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($l11l1l1llll1l1l1l1111l111llllll['qrcodetype'])} active{/if}">
										<input type="radio" name="qrcodetype" value="0" autocomplete="off" {if empty($l11l1l1llll1l1l1l1111l111llllll['qrcodetype'])} checked{/if}>否
									</label>
								</div>
								（开启后，活动类型为<b style="color:red;">认证服务号</b>并且回复规则里有设置<b style="color:red;">正则投票</b>的将生成参数二维码，直接投票）
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">海报固定二维码</label>
							<div class="col-sm-7">
								{php echo tpl_form_field_image('posterqrcode', $l11l1l1llll1l1l1l1111l111llllll['posterqrcode']);}
								<span class="help-block">
									<strong>默认留空将使用参数二维码或选手链接二维码(图片格式为jpg)</strong>
								</span>
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">清除选手海报</label>
							<div class="col-sm-7">
								<div class="btn-group" data-toggle="buttons">
									<label class="btn btn-primary">
										<input type="radio" name="clearposter" value="1" autocomplete="off">是
									</label>
									<label class="btn btn-primary active">
										<input type="radio" name="clearposter" value="0" autocomplete="off" checked>否
									</label>
								</div>
								（重新上传海报背景图后，清除一次选手旧海报信息）
							</div>
						</div>
						
						<div class="conditionMenu" ng-controller="conditionMenuDesigner" id="conditionMenuDesigner">
							<div class="app clearfix">
								<div class="app-preview">
									<div class="app-header"></div>
									<div class="app-content">
										<div class="inner">
											<div class="title">
												<h1><span>选手海报预览</span></h1>
											</div>
										</div>
										<div class="app-img">
											<img src="{php echo $this->llll1111lllll1llll111l1l1ll1ll1('getPoster');}"/>
										</div>
									</div>
								</div>
								<div class="app-side">
									<div class="menu app-conditionMenu-edit">
										<div class="arrow-left"></div>
										<div class="inner">
											<div class="panel panel-default">
												<div class="panel-body form-horizontal">
													<div class="conditionMenu-wx">
														<div class="card">
															<div class="nav-region">
																<div class="first-nav">
																	<h3>设置</h3>
																	<div class="alert">
																		<div class="form-group">
																			<label class="control-label col-xs-2">海报背景</label>
																			<div class="col-xs-10">
																				{php echo tpl_form_field_image('posterbg', $l11l1l1llll1l1l1l1111l111llllll['posterbg'], '', array('width' => 320, 'extras' => array('text' => 'ng-model="entry.posterbg"')));}
																				<span class="help-block">
																					<strong>背景图尺寸为:320*568(图片格式为jpg)<br/>可以下载示例图尺寸修改<a target="_blank" href="{php echo MODULE_URL . '/resources/image/posterbg.jpg';}">查看背景示范图</a></strong>
																				</span>															
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
									
				</div>	
				
			</div>
		
		</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="col-sm-12">
						<input name="token" type="hidden" value="{$_W['token']}" />
						<input type="submit" class="btn btn-primary" name="submit" value="提交">
					</div>
				</div>
			</div>
	</form>			
</div>

				
				<div id="form-option-field"  style="display:none">
					<div class="form-group">
						<div class="col-sm-12 col-xs-12">
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									<span class="input-group-addon">字段名称</span>
									<input type="text" class="form-control" name="joinfield[name][]" placeholder="" />
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									<span class="input-group-addon">字段标识</span>
									<input type="text" class="form-control" name="joinfield[sign][]" placeholder="输入英文标识" />
								</div>
							</div>
							
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-5 ">
								<div style="margin-left:-15px;margin-bottom:17px">
								
								<label class="checkbox-inline" style="vertical-align:bottom">
									<input type="hidden" name="joinfield[isnull][]" value="1">
									<input type="checkbox" checked onclick="$(this).prev().val(this.checked ? '1' : '0');"> 允许为空
								</label>	
								
								<label class="checkbox-inline" style="vertical-align:bottom">
									<input type="hidden" name="joinfield[isshow][]" value="1">
									<input type="checkbox" checked onclick="$(this).prev().val(this.checked ? '1' : '0');"> 选手页展示
								</label>
										
								<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
								&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
								</div>
							</div>						
						</div>
					</div>	
				</div>
				
						<div id="form-option-menu"  style="display:none">
							<div class="form-group">
								<div class="col-sm-12 col-xs-12">

									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-1">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<input type="text" class="form-control" name="menu[sort][]" value="" placeholder="排序" />
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">名称</span>
											<input type="text" class="form-control" name="menu[name][]" value="" placeholder="" />
										</div>
									</div>
																
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											<span class="input-group-addon">URL</span>
											<input type="text" class="form-control" name="menu[url][]" value="" placeholder="" />
										</div>
									</div>	
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
										<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
											{php echo tpl_form_field_icon('menu[icon][]');}
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
										<div style="margin-left:-15px;margin-bottom:17px">
										<label class="checkbox-inline" style="vertical-align:bottom">
											<input type="hidden" name="menu[isshow][]" value="">
											<input type="checkbox" onclick="$(this).prev().val(this.checked ? '1' : '0');"> 是否显示
										</label>
										
										<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
										&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
										</div>
									</div>									
								</div>
							</div>	
						</div>	
						
				<div id="form-option"  style="display:none">
					<div class="form-group">
						<div class="col-sm-12 col-xs-12">
							<input type="hidden" name="groupid[]" value="0"/>
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									<span class="input-group-addon">分组名称</span>
									<input type="text" class="form-control" name="groupname[]" placeholder="" />
								</div>
							</div>
														
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
								<div class="input-group" style="margin-left:-15px;margin-bottom:10px">
									<span class="input-group-addon">排序</span>
									<input type="text" class="form-control" name="groupsort[]" placeholder="" />
								</div>
							</div>	
							<div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 ">
								<div style="margin-left:-15px;margin-bottom:17px">
								<label class="checkbox-inline" style="vertical-align:bottom">操作</label>
								&nbsp; &nbsp; &nbsp; <a href="javascript:;" onclick="$(this).closest('.form-group').remove();" class="fa fa-times-circle" title="删除此操作"></a>
								</div>
							</div>						
						</div>
					</div>	
				</div>
				
<script type="text/javascript">

	function setColor(bodycolor,boxcolor,titlecolor,textcolor,buttoncolor){
		$("input[name='bodycolor']").val(bodycolor);
		$("input[name='boxcolor']").val(boxcolor);
		$("input[name='titlecolor']").val(titlecolor);
		$("input[name='textcolor']").val(textcolor);
		$("input[name='buttoncolor']").val(buttoncolor);
	}
	function addOption(){
		var html = $("#form-option").html();
		$("#form-box").append(html);
	}
	function addField(){
		var html = $("#form-option-field").html();
		$("#form-field").append(html);
	}	
	function addMenu(){
		var html = $("#form-option-menu").html();
		$("#form-menu").append(html);
	}		
</script>
{template 'common/footer'}