{template 'common/header'}

<ul class="nav nav-tabs">
    <li class="active"><a href="#">活动配置</a></li>
</ul>
<div class="main">

    <form action="" class="form-horizontal form ng-pristine ng-valid" method="post" enctype="multipart/form-data">

        <div class="panel panel-default">
            <div class="panel-heading">
                全局配置
            </div>

            <div class="panel-body">

               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">是否启用微信开放平台</label>
                    <div class="col-sm-6">
						<div class="btn-group" data-toggle="buttons">
                             <label onclick="alert('使用开放平台前您必须确定当前活动公众号(和多开里认证公众号)都已经绑定微信开放平台。否则造成严重资源浪费影响系统稳定');" class="btn btn-primary {if $this->module['config']['openweixin'] === '1'} active{/if}">
                                <input type="radio" name="openweixin" value="1" autocomplete="off" {if $this->module['config']['openweixin'] === '1'} checked{/if}>是
                            </label>
                            <label class="btn btn-primary {if empty($this->module['config']['openweixin'])} active{/if}">
                                <input type="radio" name="openweixin" value="0" autocomplete="off" {if empty($this->module['config']['openweixin'])} checked{/if}>否
                            </label>
                        </div>
						<span class="help-block">
						{if $_W['account']['level']<3}
							<b style=" color:red;">当前使用的是未认证公众号，不能使用微信开放平台</b><br/>
						{/if}
						<b style=" color:red;">开启选项前必须确定公众号已经绑定微信开放平台。否则造成严重资源浪费影响系统稳定</b><br/>
						选“是”粉丝将绑定unionid，需要关注的认证订阅号，需要和<a href="/web/index.php?c=mc&a=passport&do=oauth">借用认证服务号</a>绑定同一账户下。详情参考<a target="_blank" href="https://open.weixin.qq.com">微信开放平台</a>(平台免费使用。第一次使用需要执行一次获取粉丝信息，之后关注的粉丝将自动获取)
						{if !$llll11ll111ll11111lll11l11l1lll}<b style=" color:red;">检测到你的微擎版本粉丝没有unionid字段，开启后将添加该字段</b>{/if}
						</span>
					</div>
                </div>
               <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">手机端是否开启模糊搜索</label>
                    <div class="col-sm-6">
						<div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary {if $this->module['config']['fuzzysearch'] === '1'} active{/if}">
                                <input type="radio" name="fuzzysearch" value="1" autocomplete="off" {if $this->module['config']['fuzzysearch'] === '1'} checked{/if}>是
                            </label>
                            <label class="btn btn-primary {if empty($this->module['config']['fuzzysearch'])} active{/if}">
                                <input type="radio" name="fuzzysearch" value="0" autocomplete="off" {if empty($this->module['config']['fuzzysearch'])} checked{/if}>否
                            </label>
                        </div>
						<span class="help-block">
						开启后手机端可模糊搜索选手（性能有一定影响）
						</span>
					</div>
                </div>	
			</div>	
			<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					阿里大鱼(www.alidayu.com)
					</div>				
					<div class="panel-body">
					
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">同IP单日允许发送条数</label>
							<div class="col-sm-6"><input type="text" class="form-control" name="smsipnum" value="{if empty($this->module['config']['smsipnum'])}10{else}{php echo $this->module['config']['smsipnum'];}{/if}" placeholder="" /></div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">同手机号单日允许发送条数</label>
							<div class="col-sm-6"><input type="text" class="form-control" name="smsphonenum" value="{if empty($this->module['config']['smsphonenum'])}5{else}{php echo $this->module['config']['smsphonenum'];}{/if}" placeholder="" /></div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">appkey</label>
							<div class="col-sm-6"><input type="text" class="form-control" name="dayuak" value="{php echo $this->module['config']['dayuak'];}" placeholder="" /></div>
						</div>
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">secretKey</label>
							<div class="col-sm-6"><input type="text" class="form-control" name="dayusk" value="{php echo $this->module['config']['dayusk'];}" placeholder="" /></div>
						</div>	

						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">短信签名</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="dayusign" value="{php echo $this->module['config']['dayusign'];}" placeholder="" />
								<span class="help-block">
									<strong>短信签名默认为”活动验证“，或其他大鱼签名</strong>
								</span>								
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">短信模板ID</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="dayumoduleid" value="{php echo $this->module['config']['dayumoduleid'];}" placeholder="" />
								<span class="help-block">
									<strong>短信模板为”活动确认验证码“，填写您阿里大鱼里该模板ID值</strong>
								</span>									
							</div>
						</div>	
						
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">短信内容中发送者名称</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="dayuname" value="{php echo $this->module['config']['dayuname'];}" placeholder="" />								
							</div>
						</div>							
					</div>
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					七牛(www.qiniu.com)
					</div>				
					<div class="panel-body">

					   <div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">图片是否存储七牛</label>
							<div class="col-sm-6">
								<div class="btn-group" data-toggle="buttons">
									  <label class="btn btn-primary {if $this->module['config']['imagesaveqiniu'] === '1'} active{/if}">
										<input type="radio" name="imagesaveqiniu" value="1" autocomplete="off" {if $this->module['config']['imagesaveqiniu'] === '1'} checked{/if}>是
									</label>
									<label class="btn btn-primary {if empty($this->module['config']['imagesaveqiniu'])} active{/if}">
										<input type="radio" name="imagesaveqiniu" value="0" autocomplete="off" {if empty($this->module['config']['imagesaveqiniu'])} checked{/if}>否
									</label>
								</div>
							</div>
						</div>					
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">七牛AK</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="qiniuak" value="{php echo $this->module['config']['qiniuak'];}"  placeholder="七牛所接口密钥AK"/>
								<span class="help-block">
									<strong>七牛所接口密钥AK</strong>
								</span>
							</div>

						</div>		
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">七牛SK</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="qiniusk" value="{php echo $this->module['config']['qiniusk'];}"  placeholder="七牛所接口密钥SK"/>
								<span class="help-block">
									<strong>七牛所接口密钥SK</strong>
								</span>
							</div>

						</div>	
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">存储空间</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="qiniuzone" value="{php echo $this->module['config']['qiniuzone'];}"  placeholder="使用的空间"/>
								<span class="help-block">
									<strong>使用的空间</strong>
								</span>
							</div>

						</div>	
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">访问域名</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="qiniudomain" value="{php echo $this->module['config']['qiniudomain'];}"  placeholder="访问七牛资源的域名"/>
								<span class="help-block">
									<strong>访问七牛资源的域名</strong>
								</span>
							</div>

						</div>		

						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">私有队列</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="qiniupipeline" value="{php echo $this->module['config']['qiniupipeline'];}"  placeholder="私有队列"/>
								<span class="help-block">
									<strong>七牛的私有队列，可以很大程度提高数据处理速度</strong>
								</span>
							</div>

						</div>						
					</div>	
					<div class="panel-heading" style="color: #333;background-color: #f5f5f5;border-color: #ddd;">
					百度地图API(lbsyun.baidu.com)
					</div>				
					<div class="panel-body">
				
						<div class="form-group"><label class="col-xs-12 col-sm-3 col-md-2 control-label" for="">百度地图AK</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="baidumapak" value="{php echo $this->module['config']['baidumapak'];}"  placeholder="百度地图AK"/>
							</div>
						</div>		
					
					</div>						
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <input name="token" type="hidden" value="{$_W['token']}" />
                <input type="submit" class="btn btn-primary" name="submit" value="提交">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
			require(["jquery", "district"], function($, dis){
				$(".tpl-district-container").each(function(){
					var elms = {};
					elms.province = $(this).find(".tpl-province")[0];
					var vals = {};
					vals.province = $(elms.province).attr("data-value");
					dis.render(elms, vals, {withTitle: true});
				});
			});
		</script>
{template 'common/footer'}
