body {
	color: #444;
	line-height: 1.6;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.share-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: rgba(0, 0, 0, 0.7);
}

.share-layer img {
	width: 100%;
}

/*头部*/
.head {
	margin-bottom: 9px
}

.head-banner img {
	width: 100%;
	display: block
}

.head-count {
	text-align: center;
	padding: 8px 0
}

.head-count .xiaof-box-item {
	text-align: center;
	font-family: Microsoft YaHei;
	font-size: 15px;
	border-left: 1px solid #A2A2A2;
}

.head-count .xiaof-box-item:first-child {
	border-left: 0;
}

.head-info {
	font-size: 13px;
	margin: 9px 0px;
}

.head-info .i-m8 {
	margin: 0 8px;
}

.head-box {
	padding: 6px 0px;
}

.head-box-describe {
	margin-top: 8px;
}

.head-box a {
	display: block;
	color: #444;
}

.head-box i {
	font-size: 18px;
}

.head-box .head-box-end {
	font-size: 34px;
	margin-top: 2px;
	color: #e44f4f;
	margin-right: 5px;
}

.head-box-hr {
	height: 1px;
	width: 100%;
	background: #B5ABAB;
	opacity: 0.2;
}
/*分类*/
.order {
	text-align: center;
	margin: 16px 0px 6px 0px;
}

.order .nav{
	color: #444;
}

#groupload {
	margin-bottom: 16px;
}

.group {
	text-align: center;
	margin: 6px 0;
}

.group .nav {
	font-size: 14px;
}

/*选手展示*/
#container {
	padding: 0 5px;
	margin-bottom: 14px;
}

.grid-sizer,
.grid-item {
	width: 50%;
}

.grid-item {
	float: left;
	font-size: 12px;
	font-family: Microsoft YaHei;
}

.grid-item .pic-box {
	position: relative;
	margin: 0 4px;
	box-shadow: 0px 1px 1px #999;
	margin-bottom: 8px;
}

.grid-item .pic-box i {
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 25px;
	line-height: 27px;
	text-align: center;
	color: #fff;
	z-index: 99;
	background: rgba(0,0,0,.6);
	font-style: normal;
}

.grid-item .pic-box .pic-a {
	display: block;
	position: relative;
}

.grid-item .pic-box .pic-a .item-thumb {
	width: 100%;
	display: block
}

.grid-item .pic-box .pic-info {
	position: relative;
	height: 36px;
}

.pic-info span {
	vertical-align: top;
	line-height: 36px;
	margin-left: 6px
}
.grid-item .pic-box .pic-describe{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 26px;
    line-height: 26px;
    color: #fff;
    background: rgba(0,0,0,.6);
    width: 100%;
    font-size: 12px;
    text-indent: 1em;
    overflow: hidden;	
}
.pic-info .honor {
	line-height: 42px
}

.pic-info .ballot {
	margin-top: 3px
}

.grid-item .pic-box .vote {
	line-height: 42px;
	position: absolute;
	top: -13px;
	right: 4px;
	width: 42px;
	height: 42px;
	text-align: center;
	background: #fff;
	border-radius: 21px;
}

.vote {
	cursor: pointer;
}

.show-lists, .show-lists img {
	width: 100%;
}

.show-sound {
	position: absolute;
	bottom: 15%;
	left: 10%;
	cursor: pointer;
	z-index: 99;
	width: 80%;
}

.show-sound .sound-off {
	display: none;
}

.show-sound img {
	width: 100%;
}

.show-sound span {
	color: #fff;
	font-size: 18px;
}

/*底部*/
.footer-article {
	margin-top: 16px;
	margin-bottom: 62px;
}

.article-group {
	margin-top: 16px;
	margin-bottom: 18px;
}

.article-title, .footer-article-title {
	border-bottom: 1px solid #333;
	position: relative;
	width: 100%;
	height: 22px;
	margin-bottom: 27px;
}

.article-title h3,.footer-article-title h3 {
	position: absolute;
	bottom: -14px;
	left: 50%;
	width: 90px;
	margin-left: -45px;
	margin-top: -8px;
	background: #fff;
	text-align: center;
}

.article-content, .footer-article-content {
	font-size: 12px;
}

.search-input {
	width: 94%;
	padding: 9px 6px;
}




/*选手详情*/
.show-button-group span ,.show-button-group a {
	margin: 6px 0;
}

.show-field {
	margin: 8px 0;
}

.show-field p {
	font-size: 16px;
	padding: 10px 0px;
}

.voteusers {
	margin: 13px 0;
}

.voteusers .voteusers-list {
	float: left;
	width: 12.5%;
}

.voteusers-label {
	width: 25%;
	float: left;
}

.voteusers-label-like {
	margin-left: 4px;
	line-height: 36px;
	margin-right: 4px;
	color: #04BE02;
}

.voteusers-label-text {
	line-height: 28px;
	vertical-align: top;
	font-size: 12px;
}

.voteusers img {
	width: 84%;
	min-height: 34px;
	margin-left: 8%;
	border-radius: 50%;
}


/*积分抽奖*/
table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	text-align: inherit
}

dt,td {
	margin: 0;
	padding: 0
}

.draw {
	width: 100%;
}

.draw td {
	overflow: hidden;
}

.draw-box {
	margin: 1px;
	position: relative;
}

.draw-box .cur-shade {
	z-index: 999;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	-webkit-transition: all .4s;
}

.draw-box span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Microsoft YaHei;
}

.draw img {
	width: 100%;
}

.draw-cur {
	animation: twinkling 1s infinite ease-in-out;
	-webkit-animation: twinkling 1s infinite ease-in-out;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes twinkling {
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.8;
	}
}

@keyframes twinkling {
	0% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.8;
	}
}

/*加入*/
#join-form {
	margin-bottom: 31px;
}

.sound-button {
	margin: 12px 0;
	margin-left: 5px;
}

.sound-play i {
	font-size: 28px;
	margin: 12px 0;
}

.pic-button {
	background: url(../images/adds.png);
	width: 62px;
	height: 62px;
	display: inline-block;
}

.pic-box {
	margin: 12px 0;
}

.pic-container .picid {
	float: left;
	margin-right: 8px;
	position: relative;
}

.pic-container .pic-close {
	position: absolute;
	top: 18px;
	right: 18px;
	background: #666;
	border: 1px solid #fff;
	width: 22px;
	height: 22px;
	border-radius: 12px;
	text-align: center;
	line-height: 19px;
	color: #fff;
}

.pic-container img {
	width: 62px;
	height: 62px;
	display: inline-block;
}


/*排行版*/
.ranking-list {
	padding: 21px 0;
}

.ranking-list-hg {
	background: url(../images/hg.png) no-repeat top left;
}

.ranking-list-hg1 {
	background: url(../images/hg1.png) no-repeat top left;
}

.ranking-avatar {
	padding-right: 11px;
}

.ranking-avatar img {
	width: 62px;
	height: 62px;
	border-radius: 31px;
}

.ranking-name {
	font-weight: bold;
	font-size: 14px;
	font-family: Microsoft YaHei;
}

.ranking-info p {
	line-height: 21px;
}

.ranking-num {
	line-height: 60px;
	font-size: 17px;
	font-weight: bold;
	color: #e44f4f;
}

/*audio*/
#audio_btn {
	position: fixed;
	right: 10px;
	top: 28px;
	z-index: 200;
	display: none;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	cursor: pointer
}

.loading_background {
	background-image: url(../images/music_loading.gif);
	background-size: 30px 30px;
	opacity: .5;
	background-position: center center
}

.loading_yinfu {
	position: fixed;
	left: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-image: url(../images/music_yinfu.png);
	background-repeat: no-repeat;
	background-position: center center
}

.play_yinfu {
	background-image: url(../images/music.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60px 60px
}

.rotate {
	left: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	background-size: 100% 100%;
	background-image: url(../images/music_off.png);
	-webkit-animation: rotating 1.2s linear infinite;
	-moz-animation: rotating 1.2s linear infinite;
	-o-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes rotating {
	from {
		transform: rotate(0)
	}

	to {
		transform: rotate(360deg)
	}
}

@-moz-keyframes rotating {
	from {
		-moz-transform: rotate(0)
	}

	to {
		-moz-transform: rotate(360deg)
	}
}

.off {
	background: url(../images/music_off.png);
	background-size: 30px 30px
}

/*奖品列表*/
.draw-list{
	margin:9px 0;
}

.draw-list .draw-pic img{
	width:75px;
	height:60px;
}

.draw-info{
	margin-left:15px;
}

.draw-info h4{
	font-size:14px;
}

.draw-info p{
	color:#ccc;
}

/*杂项*/
.getcode{
	margin: 12px 0;
}

.acid-lists{
	width:100%;
	overflow:hidden;
}

.pagination{
    text-align: center;
    margin-top: 16px;	
}

.pagination li{
	list-style: none;
    display: inline-block;
    padding: 1px 5px;
    margin: 0 2px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #ccc;
}

.pagination li a{
	color:#444;
}