<div class="footer  box-bg-color">

	{if $ll111lllll1l1ll1111l11l1lll11ll['openpopularity'] == 1}
	<div class="head-box title-bg-color" >
		<div class="wrapper box-pl ">
		<i class="fa fa-comments-o fn-mr-8"></i>浏览量人气榜</div>
	</div>

	<div class="head-box-content">
	<ul class="wrapper popularity clearfix">
		{php $ll11111111llll111l1111ll11lll1l = $this->ll11111111llll111l1111ll11lll1l();}
	    {loop $ll11111111llll111l1111ll11lll1l $l11l1l1llll1l1l1l1111l111llllll}
	    <li>
	        <a class="pic-a" href="{php echo $this->llll1111lllll1llll111l1l1ll1ll1('show','xiaof_toupiao','&id='.$l11l1l1llll1l1l1l1111l111llllll['id'].'');}"><img src="{php echo tomedia($l11l1l1llll1l1l1l1111l111llllll['pic']);}" alt=""></a>
	    </li>
	    {/loop}

	</ul>
	</div>
	{/if}
	
	<div class="head-box title-bg-color" >
		<div class="wrapper box-pl ">
		<i class="fa fa-bookmark-o fn-mr-8"></i>活动简介</div>
	</div>
    <div class="head-box-content">
		<div class="wrapper">
		{php echo htmlspecialchars_decode($ll111lllll1l1ll1111l11l1lll11ll['bottom']);}
		</div>
    </div>
	{if !empty($ll111lllll1l1ll1111l11l1lll11ll['copyright'])}
	<div style="text-align:center;font-family: Microsoft YaHei;font-size: 12px;">
		{$ll111lllll1l1ll1111l11l1lll11ll['copyright']}
	</div>
	{/if}
</div>

<div class="bottom">
	<?php  $lllll11l1ll1ll1l1111ll11ll11ll1 = $this->l1l1l111ll1llll1l11ll11ll1l11l1(); $ll1111l11lll1111lll11l1l1ll111l = array_slice($lllll11l1ll1ll1l1111ll11ll11ll1, 0, 2); $l1l111ll111ll1llll1l1l111ll1l11 = array_slice($lllll11l1ll1ll1l1111ll11ll11ll1, 2, 2); ?>
    <ul>
		{loop $ll1111l11lll1111lll11l1l1ll111l $l111ll1111l11lll1lll1l11l1l1ll1}
			<li><a href="{$l111ll1111l11lll1lll1l11l1l1ll1['url']}"><span class="icon"><i class="{$l111ll1111l11lll1lll1l11l1l1ll1['icon']}"></i></span><span>{$l111ll1111l11lll1lll1l11l1l1ll1['name']}</span></a></li>
		{/loop}
		<li class="search">
			<span class="icon"><i class="fa fa-search-plus"></i></span><span>搜索</span>
		</li>
		{loop $l1l111ll111ll1llll1l1l111ll1l11 $lll1l1lll1l11l111l1ll11l11ll1l1}
			<li><a href="{$lll1l1lll1l11l111l1ll11l11ll1l1['url']}"><span class="icon"><i class="{$lll1l1lll1l11l111l1ll11l11ll1l1['icon']}"></i></span><span>{$lll1l1lll1l11l111l1ll11l11ll1l1['name']}</span></a></li>
		{/loop}		
    </ul>
</div>
<script type="text/javascript">
	$(function(){
		var isShow = false;
		$(".search").click(function(){
			if(isShow === false){
				$("#search-box").show();
				isShow = true;
			}else{
				$("#search-box").hide();
				isShow = false;
			}
		});
	});
	{if $ll111lllll1l1ll1111l11l1lll11ll['showtimeline'] == 1}
    wx.ready(function(){
		wx.hideMenuItems({
			menuList: ["menuItem:share:timeline"]
		});
    });
	{/if}
</script>
<div id="search-box" class="search-box animated slideInUp">
    <form class="search-form clearfix" method="post" action='{php echo $_W["siteroot"]."app/index.php?c=entry&do=index&m=xiaof_toupiao&i=".$_W['uniacid']."&sid=".$_GPC['sid']."";}'>
        <input class="search-input" name="key" placeholder="输入编号或姓名" type="text"/><input class="search-button" type="submit" value="搜索"/>
    </form>	
</div>
	
<div id="dialog" class="popupshade">
    <div class="popup">
        <a href="javascript:;" id="popup-close" onclick='$("#dialog").removeClass("is-visible");' class="close">x</a>
        <div class="popup-container"></div>
    </div>
</div>

<div style="display:none;">
{php echo htmlspecialchars_decode($ll111lllll1l1ll1111l11l1lll11ll['statisticcode']);}
</div>
