		</div>
		<script type="text/javascript">
			require(['bootstrap']);
			{if $_W['uid']}
				function checknotice() {
					$.post("{php echo url('utility/notice')}", {}, function(data){
						var data = $.parseJSON(data);
						$('#notice-container').html(data.notices);
						$('#notice-total').html(data.total);
						if(data.total > 0) {
							$('#notice-total').css('background', '#ff9900');
						} else {
							$('#notice-total').css('background', '');
						}
						setTimeout(checknotice, 60000);
					});
				}
				checknotice();
			{/if}
		</script>
		<div class="container-fluid footer" role="footer">
			<div class="page-header"></div>
			<span class="pull-left">
				<p>{if empty($_W['setting']['copyright']['footerleft'])}Powered by <a href="http://www.we7.cc"><b>微营销系统</b></a> v{IMS_VERSION} &copy; 2014-2015 <a href="http://www.we7.cc">www.we7.cc</a>{else}{$_W['setting']['copyright']['footerleft']}{/if}{if !empty($_W['setting']['copyright']['statcode'])}{$_W['setting']['copyright']['statcode']}{/if}</p>
			</span>
			<span class="pull-right">
				<p>{if empty($_W['setting']['copyright']['footerright'])}<a href="http://www.we7.cc">关于微营销系统</a>&nbsp;&nbsp;<a href="http://bbs.we7.cc">微营销系统论坛</a>&nbsp;&nbsp;<a href="/">联系客服</a>{else}{$_W['setting']['copyright']['footerright']}{/if}</p>
			</span>
		</div>
		{if !empty($_W['setting']['copyright']['statcode'])}{$_W['setting']['copyright']['statcode']}{/if}
	</body>
</html>
